/* 
 * $Id: MacOSX-heavy.css,v 1.3 2002-01-05 16:12:19 carstenklapp Exp $
 *
 * phpwiki-heavy.css
 *
 * This is stuff which should be in phpwiki.css, but which breaks NS4.
 */

/* Hide the elements we put in just to get around NS4 bugs. */
.ns4bug, DIV.br { display: none; }

/* This makes spacings in NS4 too big. */
.toolbar, DIV.toolbar { margin: 0.5ex 0ex; }

/* This break NS4, but is necessary for IE4. */
DIV.wikitext { width: auto; }

/* Make Wikilinks inside <B> tags larger. */
B .wiki, STRONG .wiki,
B .wikipage, STRONG .wikipage
{ font-size: larger; }

/* Link icons */
img.linkicon		{ vertical-align: middle; }

/****************************************************************
 **
 ** Diff Output
 **
 *****************************************************************/
.diff .block div { position: relative; padding-left: 1.5em; } 
.diff .prefix	{ position: absolute; left: 0.5em; top: 0; }


