<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.3 2002-01-20 00:29:49 carstenklapp Exp $ -->
<?php
  $BF = &$ButtonFactory;

  if (!$page->get('locked') || $user->isAdmin())
      $EditB = $BF->makeActionButton("edit",
                                     $IS_CURRENT ? _("EditText") : _("Edit Old Revision"));
  else
      $EditB = $BF->makeActionButton("edit", _("View Source"));
  $EditB = sprintf(_("%s of this page"),$EditB->asHTML());

  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  //<?plugin-link PageHistory page="[pagename]" ?>
  //$Theme->addButtonAlias($mtime,_("PageHistory"));
  $PageHistoryB = $BF->makeLabelActionPageButton($mtime, _("PageHistory"));

  if ($IS_CURRENT)
      $LastModifiedMsg = sprintf(_("(last edited %s)"), $PageHistoryB->asHTML());
  else
      $LastModifiedMsg = __sprintf(_("(version %s, saved on %s)"),
                                   $VERSION, $PageHistoryB->asHTML());

  $LockPageB = $BF->makeActionButton($page->get('locked') ? 'unlock' : 'lock');
  $RemovePageB = $BF->makeActionButton('remove');

  $DiffB = $BF->makeActionButton(array('action' => 'diff', 'previous' => 'major'));

  $DebugInfoB = $BF->makeActionPageButton(_("DebugInfo"));

  $Sep = $Theme->getButtonSeparator();

?>

    <?= $EditB ?> <?= $LastModifiedMsg ?>
    <?php if ($user->isAdmin()) { ?>
     <?=$Sep?><?= $LockPageB ?><?=$Sep?><?= $RemovePageB ?>
    <?php } ?>
    <!-- For debugging only, really -->
    <?=$Sep?><?= $DebugInfoB ?><br />
