<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.14 2002-02-08 22:03:03 dairiki Exp $ -->
<?php
  if (!$page->get('locked') || $user->isAdmin())
      $EditB = Button("edit",
                      $revision->isCurrent() ? _("EditText") : _("Edit Old Revision"));
  else
      $EditB = Button("viewsource", _("View Source"));
  $EditB = fmt("%s of this page", $EditB);

?>

<?= $EditB ?> 
<a href="<?=WikiURL($revision,array('action'=>'diff'))?>"
   ><?= $Theme->getLastModifiedMessage($revision) ?></a>
<br />
