<?php // -*-html-*- ?>
<!-- $Id: body.tmpl,v 1.2 2002-01-19 23:38:47 carstenklapp Exp $ -->
<body>
<!-- Page title and logo -->
<h1><a class="wikilink" 
       href="<?=WikiURL(_("HomePage"))?>"
       ><img src="<?=$Theme->getImageURL('logo')?>"
             border="0" alt="<?=$WIKI_NAME?>: <?=_("HomePage")?>" 
             align="bottom" /></a> <?=$HEADER?></h1>
<?= $CONTENT ?>
<?= new WikiTemplate('navbar') ?>
<!-- RELATEDPAGES were here. -->
<br />
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
</body>
