<?php // -*-html-*- ?>
<!-- $Id: body.tmpl,v 1.3 2002-01-24 00:45:28 dairiki Exp $ -->
<body>
<!-- Page title and logo -->
<h1><a class="wikilink" 
       href="<?=WikiURL(_("HomePage"))?>"
       ><img src="<?=$Theme->getImageURL('logo')?>"
             border="0" alt="<?=WIKI_NAME?>: <?=_("HomePage")?>" 
             align="bottom" /></a> <?=$HEADER?></h1>
<?= $CONTENT ?>
<?= Template('navbar') ?>
<!-- RELATEDPAGES were here. -->
<br />
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
</body>
