<!-- -*-html-*- -->
<!-- $Id: viewsource.tmpl,v 1.12 2002-02-08 16:07:21 carstenklapp Exp $ -->

<?php if ($page->get('locked') && !$user->isAdmin()) { ?>
  <p><strong><?=_("Note:")?></strong>
  <?=_("This page has been locked by the administrator and cannot be edited.")?></p>
<?php } ?>

<?php if (! $revision->isCurrent()) { ?>
  <p><?=_("You are viewing an old revision of this page.")?>
  <?= Button('viewsource', _("View the current version"), $page)?>.</p>
<?php } ?>

<!-- Dummy form else NS4 does not like the textarea -->
<form method="post" action="<?=BASE_URL?>" accept-charset="<?=CHARSET?>">
<!-- wrap=virtual is not HTML4, but without it NS4 does not wrap long lines -->
<textarea class="wikiedit"
          name="content"
          rows="<?=$request->getPref('editHeight')?>"
          cols="<?=$request->getPref('editWidth')?>"
	  readonly="readonly"
          wrap="virtual"><?= $PAGE_SOURCE ?></textarea>
<?php
  $mtime = $revision->get('mtime');
  $fmtime = $Theme->formatDateTime($mtime);
  // Suppress object to string conversion error.
  // Once the temporary asterisk denoting timezone conversion is removed, the @ can be removed.
  $PageHistoryB = @Button(_("PageHistory"), $fmtime);

  if ($revision->isCurrent())
      $LastModifiedMsg = fmt("(last edited %s)", $PageHistoryB);
  else {
    if (istoday($mtime) || isyesterday($mtime))
      $LastModifiedMsg = fmt("version %s, saved %s.",
                             $revision->getVersion(), $PageHistoryB);
    else
      $LastModifiedMsg = fmt("version %s, saved on %s.",
                             $revision->getVersion(), $PageHistoryB);
}
?>
<?= HiddenInputs($request->getArgs()) ?>
</form>
<hr />
<?= $LastModifiedMsg ?><br />
