<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.2 2004-06-03 12:30:38 rurban Exp $');
?>
<body<?= $Theme->getMoreAttr('body') ?>>
<div id="header"><?php // for top toolbars style sheet ?>
  <?= Template('top') ?>
</div>
<div class="toolbar"><?= Template('navbar') ?></div>
<!-- Page content -->
<div id="contenu">
<?php if (isset($HEADER)) { ?>
<!-- Page title -->
<h1><?= $HEADER ?></h1>
<?php } ?>
<?= $CONTENT ?>
<?= Template('bottom') ?>
</div>
<!-- Actionbar -->
<?= Template('actionbar') ?>
</body>
