/*
  $Id: phpwiki-modern.css,v 1.9 2002-02-03 09:10:06 carstenklapp Exp $

  Inspiration for this stylesheet:

  http://www.timestretch.com/db/home/load/36/
  http://www.apache.org/

  Classes:

  div.wikitext - the transformed wiki page text.

  a.wiki             - link to page in wiki.
  a.named-wiki       - a named link to page in wiki (from e.g. [name|WikiPage]).
  a.interwiki        - link to page in another wiki
    span.wikipage    - page name within interwiki link.
  a.named-interwiki  - link to page in another wiki
  a.url              - link to external URL from wiki page.
  a.named-url        - link to external URL from wiki page.

  .wikiunknown a, .wikiunknown u
  .named-wikiunknown a, .named-wikiunknown u
  
  a.wikiaction
  a.wikiadmin
  .wikiunsafe

  a.backlinks
  
TODO: Get rid of tables in wikiaction forms.
*/

/* NS4 & OmniWeb 4 don't grok @import.  This allows us to put things which
 * break NS4 and OW4 in another file.
 */
@import url(phpwiki-modern-heavy.css);

/* FIXME: logo needs to be moved, it's floating upwards in Mozilla for some reason */
img { border : 0;
      /*vertical-align: baseline;*/ }

BODY {
 background: #EEEEEE; /* light grey */
 margin: 0;
}

BODY { /* user's browser settings */ }

/*
 * NS4, defaults from BODY don't always propagate correctly.
 * So we need this:
 */ 
.toolbar, TD { font-family: arial, helvetica, sans-serif; }

input.button { font-family: arial, helvetica, sans-serif; }

.wikitext PRE { font-family: monospace; }

div.wikitext {
 background:     white;
 border:         0.5pt;
 border-color: #888888;
 border-style:   solid;
 padding-left:   0.8em; 
 padding-right:  0.8em; 
 padding-top:    0.8em;
 padding-bottom: 0.8em;
 margin-left:      1em;
 margin-right:     1em;
 margin-top:       1em;
 margin-bottom:    1em;
 /* This breaks Netscape 4: (display does not go full width).
    width: auto;
 */
 clear: both;
}

h1, h2, h3 { font-family: Arial, Helvetica, sans-serif; }

h1 {    color :            #ffffff;
        background-color : #000000;
        padding-top :          1em;
        padding-left :       0.6em;
        padding-bottom :     0.2em;
        padding-right :      0.6em;
}

h1 a.backlinks {
        color :            #ffffff;
        text-decoration:      none;
}

h2 {
        color :            #ffffff;
        background-color : #525D76;
        padding-top :       0.15em;
        padding-left :       0.6em;
        padding-bottom :     0.1em;
        padding-right :      0.6em;
}

h3 {    color :            #ffffff;
        background-color : #828da6;
        padding-top :       0.15em;
        padding-left :       0.6em;
        padding-bottom :     0.1em;
        padding-right :      0.6em;
        margin-left :          1em;
}

h2, h3 { margin-top : 2em; }

input.wikitext { margin: 0px; }

.toolbar {
 color:          black;
 background:   #dddddd; /* dark grey */
 border:         0.5pt;
 border-color: #666666; /* medium grey */
 border-style:   solid;
 padding-left:     5pt; 
 padding-right:    5pt; 
 padding-top:      2pt;
 padding-bottom:   3pt;
 margin:           1em;
 margin-top:         0;
 margin-bottom:    2pt;
 width:            94%;
}

/*
 * This is a kluge for NS4 which doesn't honor the clear: settings on
 * .tool-left and .tool-right.
 *
 * Putting in explicit <br clear="all"> messes up the formatting in
 * other browsers.  Instead we'll put in a:
 *
 *  <div class="br"><br class="ignore" clear="all"></div>
 *
 * The clear:both on div.br seems to work.  And we'll disable the <br> altogether (in
 * CSS aware browsers) by setting display:none.
 *
 * Actually, I haven't yet found a browser which doesn't put a line break
 * between successive <div>'s.  This makes the <br class="ignore"> completely
 * unnecessary. 
 */
div.br { clear:both; line-height: 0px; }
.ignore { display: none; }
 
div.errors {
 background:     white;
 border:          thin;
 border-color:     red;
 border-style:  dashed;
 padding-left:   0.8em; 
 padding-right:  0.8em; 
 padding-top:    0.5em;
 padding-bottom: 0.8em;
 margin:           1em;
 /* This breaks Netscape 4: (display does not go full width).
    width: auto;
 */
 clear: both;
}

.errors h4 {
 color: red;
 text-decoration: underline;
 margin: 0px;
}

P.error {
 font-size: smaller;
 font-family: monospace;
 margin: 0px;
}
.error ul
{
 font-size:     smaller;
 font-family: monospace;
}

/*
 * Style for <hr>s in wiki markup.
 */
.wikitext hr { height: 1pt; }


/*
 * Link styles
 */
/* Wiki Links */
a.wiki { text-decoration: none;
color: #004662 /* dark cyan */
}
a.wikiaction:hover {
  color: #5454ff;  /* blue */
  padding-top:    1pt;
  padding-left:   0pt;
  padding-bottom: 1pt;
  padding-right:  0pt;

}

a.wiki:hover, a.backlinks:hover {
  color: #5454ff;  /* blue */
}

.wiki  { 
 font-weight: bold;
}
/* This is obscene in NS4
B .wiki, STRONG .wiki { font-size: larger; }
*/
.wikiaction  { 
  color: #69798f;  /* pale cyan */
}

/* Unknown links */
.wikiunknown a, .named-wikiunknown a, .wikiunknown u
{ text-decoration: none; }

.wikiunknown, .named-wikiunknown
{color: #600; }

/* Interwiki links */
a.interwiki { text-decoration: none; }
.wikipage   { font-weight: bold; }

.interwiki,
I .interwiki .wikipage, EM .interwiki .wikipage
{ font-style: oblique; }

.interwiki .wikipage,
I .interwiki, EM .interwiki  
{ font-style: normal; }

/*
 * wikiaction, wikiadmin, wikiunsafe:
 */
a.wikiaction, a.wikiadmin       { text-decoration: none; }
a.wikiaction, .wikiaction table, span.wikiaction  { /* background-color: #ddd; */ }
a.wikiadmin, .wikiadmin table   { /* background-color: #fdd; */ }
.wikiunsafe                     { /* background-color: #ccc; */ }

/*
 * No border on external link icons.
 */
img.linkicon, img.rssicon	{ border: 0px; }
img.rssicon		{ vertical-align: baseline; }
/* This screws up NS4, moved to phpwiki-heavy.css 
img.linkicon		{ vertical-align: middle; }
*/

 
/*
 * Put a border around wikiaction forms:
 * This doesn't work for NS4.
 */
.wikiaction table, .wikiadmin table
{
/*
  border-style: ridge;
  border-width: medium;
*/
}
.wikiaction table { border-color: #9cf; }
.wikiadmin table  { border-color: #f99; }

/* Backlinks */
A.backlinks { color: #006; }

/* Make the textarea on the edit page full width */
textarea.wikiedit { width: 100%; margin-top: 1ex; }


/* Calendar plugin */
a.cal-hide,
 a.cal-arrow { text-decoration: none; }
.cal-arrow       { font-weight: bold; }
table.cal-header { font-size: larger; }
.cal-dayname     { font-size: smaller; text-decoration: underline; }
table.cal        { border: thin solid black; } 


/* IncludePage plugin */
.transclusion-title {
  font-style:        oblique;
  font-size:         smaller; /* 0.75em; */
  text-decoration: underline;
  text-align:          right;
} 

div.transclusion { 
  background:   #eeeeff; /*powder blue */
  border:         0.5pt;
  border-color:   white;
  border-style:   solid;
  padding-left:   0.8em; 
  padding-right:  0.8em; 
  padding-top:    0.8em;
  padding-bottom: 0.8em;
  margin-top:       1em;
  margin-bottom:    1em;
}

/* The transclusion of the TextEditingRules Synopsis on templates/editpage.html */
div.wiki-edithelp .transclusion {
  font-size:   smaller;
  background:  inherit;
  padding: 0.5ex 0.5em;
  margin:     0.2ex 5%;
}
div.wiki-edithelp .transclusion p {
  margin: 0;
}

div.wiki-edithelp .wiki {
  background: #a9a9e6;  /* blue highlight */
  padding: 1pt;
}

div.wiki-edithelp {
  background: #eeeeff;  /* powder blue */
  border:         1pt;
  border-color: white;
  border-style: solid;
  font-size:  smaller;
  padding: 0.05ex 2pt;
}
  
/****************************************************************
 **
 ** Diff Output
 **
 *****************************************************************/
.diff .block	{ padding: 0.5ex 0.5em; margin: 0.5ex 0; }
.diff .block tt	{ font-weight: bold; }
.diff del,
.diff ins	{ font-weight: bold; text-decoration: none; }

/* These screw up NS4 --- moved to phpwiki-heavy.css
.diff .block div { position: relative; padding-left: 1.5em; } 
.diff .prefix	{ position: absolute; left: 0.5em; top: 0; }
*/

.diff .block	{ background: #ccc; }
.diff .context	{ background: #fff; }
.diff .original,
.diff .deleted	{ background: #fcc; }
.diff .final,
.diff .added	{ background: #cfc; }
/*
.diff .original	{ background: #feb; }
.diff .final	{ background: #efb; }
*/
/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
.diff del	{ background: #f99; }
.diff ins	{ background: #9f9; }

/* PageList output */
table.pagelist { background: #bebebe; }
table.pagelist thead { background: #f4f4f4; color: #555; font-size: smaller; }
.pagelist tr.evenrow { background: #e6e6e6; }
.pagelist tr.oddrow  { background: #f4f4f4; }

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
