/**
 * $Id: phpwiki-heavy.css,v 1.16 2002-02-13 08:56:24 carstenklapp Exp $
 *
 * phpwiki-heavy.css
 *
 * This is stuff which should be in phpwiki.css, but which breaks NS4.
 * Margins and padding on in-line elements are generally bad for NS4.
 */

/* Hide the elements we put in just to get around NS4 bugs. */
div.br { display: none; }

/* This makes spacings in NS4 too big. */
.toolbar, div.toolbar { margin: 0.5ex 0ex; }

/* This break NS4, but is necessary for IE4. */
div.wikitext { width: auto; }

/**
 * General
 */
/* for NS4 */
img { vertical-align: baseline; }
/* NS4 inserts a br after this */
input { margin: 0.1em; }
/* NS4 inserts a br after this */
input.numeric { text-align: right; }

/**
 * Links
 */

/* NS4 inserts a br after these */
.wikiaction, .wikiaction table, span.wikiaction, input.button { border: 1px outset; }
.wikiadmin, .wikiadmin table { border: 1px outset; }
.wikiunsafe { border: 1px outset; }
/* Make wikiaction links look like buttons */ 
a.wikiaction, a.wikiadmin, input.button {
  border: 1px outset #006;
  padding-top:    0.2ex;
  padding-bottom: 0.1ex;
  padding-left:  .5em;
  padding-right: .5em;
}

/* Prevent buttons from overlapping when the toolbar is wrapped.
a.wikiaction, a.wikiadmin { line-height: 2.6ex; }

/* QuestionMark */
.wikiunknown a, .named-wikiunknown {
  font-size: smaller;
  border: 1px outset black;
  padding-left:  1px;
  padding-right: 1px;
  padding-top: 1px;
  margin-right: 1px;
}

/* Link icons - This screws up NS4 */
img.linkicon { vertical-align: middle; }


/**
 * Edit Page & View Source
 */
/* color: inherit; and background: inherit; display as lime in NS4 */

/**
 * Diff Output
 */
.diff .block div {
  position: relative;
  padding-left: 1.5em;
} 
.diff .prefix {
  position: absolute;
  left: 0;
  top:  0;
}

