/**
 * $Id: WikiTrek.css,v 1.6 2002-01-11 05:34:10 carstenklapp Exp $
 *
 * This PhpWiki theme is experimental and will likely not appear as
 * part of any release. ("accessories not included"--download
 * seperately)
 *
 * http://www.w3.org/TR/REC-CSS2/indexlist.html
 *
        #fff; /white/
        #000; /black/
        #ffcf00; /yellow/
        #ddc300; /darker-yellow/
        #0700ff; /bright-blue/
        #0c10bc; /blue/
        #8452b5; /magenta/
        #982505; /red/
        #ef0032; /light-red/
        #009000; /green/
        #1bab11; /light-green/
        #ff7e00; /orange/
*/

/* NS4 doesn't grok @import.  This allows us to put things which
 * break NS4 in another file. As of OmniWeb 4.1, OW now @imports :-(
 */
@import url(WikiTrek-gravimetric.css);

BODY { 
/* the background image url is relative to this file's directory */
        color :             #fff;
        background-color :  #000;
        background-image :  url("starfield.png");
        background-repeat : repeat;
        font-size :         larger;
}

BODY {
        font-family : "Helvetica Narrow", "Arial Narrow", Helvetica,
                      Arial, sans-serif;
}

.rssicon {
        border-color : #000;
        border-width : 2px;
}

.wikitext , .toolbar , P , TD {
        font-family : "Helvetica Narrow", "Arial Narrow", Helvetica,
                      Arial, sans-serif;
}

INPUT.button {
        font-family : "Helvetica Narrow", "Arial Narrow", Helvetica,
                      Arial, sans-serif;
}

.wikitext PRE {
        font-family : monospace;
}

DIV.wikitext {
        color :       #fff;
        background :  #000;
        font-weight : normal;
        padding :     1em;
        margin :      0.5ex;
        clear :       both;
}

h1 {
        color :            #000;
        background-color : #0c10bc;
        width :            100%;
        padding-top :      0.25em;
        padding-left :     0.5ex;
        padding-bottom :   1px;
}

.backlinks {
        color :            #ffcf00;
        background-color : #000;
        text-decoration :  none;
        padding-top :      0.25em;
        padding-left :     0.5ex;
        padding-right :    0.5ex;
        padding-bottom :   1px;
}

H2 , H3 , H4 {
        color :            #000;
        background-color : #ffcf00;
        padding-top :      0.25em;
        padding-left :     0.5ex;
        padding-right :    0.5ex;
        padding-bottom :   1px;
}

.wiki {
        color :           #ffcf00;
        background :      #000;
        font-weight :     bold;
        text-decoration : none;
}
.wiki:hover {
        background : #ddc300;
}

.rc-major {
        color :           #fff;
        background :      #000;
        font-weight :     normal;
        text-decoration : none;
}

.toolbar .wiki {
        background :      #0c109c;
        text-decoration : none;
        font-weight :     bold;
        padding :         2px;
        margin :          1px;
        border :          1px none ;
        border-color :    #000;
        border-style :    solid;
}
.toolbar .wiki:hover {
        background :   #0c10bc;
        font-weight :  bold;
}

.wikiaction {
        background :      #009000;
        text-decoration : none;
        font-weight :     bold;
        padding :         2px;
        margin :          1px;
        border :          1px none ;
        border-color :    #000;
        border-style :    solid;
}
.wikiaction:hover {
        background : #1bab11;
}

.wikiadmin {
        background :      #982505;
        text-decoration : none;
        font-weight :     bold;
        padding :         2px;
        margin :          1px;
        border :          1px none ;
        border-color :    #000;
        border-style :    solid;
}
.wikiadmin:hover {
        background :      #ef0032;
}

b.wikisummary {
        color :           #ffcf00;
        background :      #000;
        text-decoration : none;
        font-weight :     bold;
        padding :         2px;
        margin :          1px;
        border :          1px none ;
        border-color :    #000;
        border-style :    solid;
}

img.linkicon, img.rssicon {
        border : 0px;
}

img.rssicon {
        vertical-align : top;
}

/* this doesn't work! */
.wikitext HR {
        background-image :  url("themes/WikiTrek/lights5.gif");
}
/* this image also used for the thank-you signature */

/****************************************************************
 **
 ** Diff Output
 **
 *****************************************************************/
.diff .block	{ padding: 0.5ex 0.5em; margin: 0.5ex 0; }
.diff .block tt	{ font-weight: bold; }
.diff del,
.diff ins	{ font-weight: normal; text-decoration: none; }

/* These screw up NS4 --- moved to phpwiki-heavy.css
.diff .block div { position: relative; padding-left: 1.5em; } 
.diff .prefix	{ position: absolute; left: 0.5em; top: 0; }
*/

.diff .block	{ color: #000; background: #ffcf00; }
.diff .context	{ color: #fff; background: #000; }
.diff .original,
.diff .deleted	{ background: #a40024; }
.diff .final,
.diff .added	{ background: #cfc; }
/*
.diff .original	{ background: #feb; }
.diff .final	{ background: #efb; }
*/
/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
.diff del	{ background: #a40024; }
.diff ins	{ background: #9f9; }
