/* 
 * $Id: WikiTrek-gravimetric.css,v 1.4 2002-01-05 06:17:01 carstenklapp Exp $
 *
 * WikiTrek-gravimetric.css
 *
 * This is stuff which should be in WikiTrek.css, but which breaks NS4.
 */

/*
 * These colors are here to prevent OmniWeb from rendering black text
 * on black.
 */

.toolbar .wiki {
        color : #000;
 }

.wikiaction {
        color : #000;
}

.wiki:hover {
        color : #000;
}

.wikiaction:hover {
        color : #000;
}

