/**
 * This PhpWiki theme is experimental and will likely not appear as part of any release.
 * ("accessories not included"--download seperately)
 *
 * http://www.w3.org/TR/REC-CSS2/indexlist.html
 *
        #fff; /white/
        #000; /black/
	#ffcf00; /yellow/
	#0700ff; /blue/
	#8452b5; /magenta/
*/

BODY {
/* Mozilla ignores the background image, with or without a background color specified (?) */
        color :             #fff;
        background-color :  #000;
        background-image :  url("themes/WikiTrek/starfield.png");
        background-repeat : repeat;
}

BODY {
        font-family : "Helvetica Narrow", "Arial Narrow", Helvetica, Arial, sans-serif;
}

.rssicon {
        border-color : #000;
        border-width : 2px;
}

.wikitext , .toolbar , P , TD {
        font-family : "Helvetica Narrow", "Arial Narrow", Helvetica, Arial, sans-serif;
}

INPUT.button {
        font-family : "Helvetica Narrow", "Arial Narrow", Helvetica, Arial, sans-serif;
}

.wikitext PRE {
        font-family : monospace;
}

DIV.wikitext {
        color :       #fff;
        background :  #000;
        font-weight : normal;
        padding :     1em;
        margin :      0.5ex;
        clear :       both;
}

h1 {
        color :            #000;
        background-color : #0700ff;
        width :            100%;
        padding-top :      0.25em;
        padding-left :     0.5ex;
        padding-bottom :   1px;
}

.backlinks {
        color :            #ffcf00;
        background-color : #000;
        text-decoration :  none;
        padding-top :      0.25em;
        padding-left :     0.5ex;
        padding-right :    0.5ex;
        padding-bottom :   1px;
}

H2 , H3 , H4 {
        color :            #000;
        background-color : #ffcf00;
        padding-top :      0.25em;
        padding-left :     0.5ex;
        padding-right :    0.5ex;
        padding-bottom :   1px;
}

.wiki {
        color :           #ffcf00;
        background :      #000;
        font-weight :     bold;
        text-decoration : none;
}

.rc-major {
        color :           #fff;
        background :      #000;
        font-weight :     normal;
        text-decoration : none;
}

.toolbar .wiki {
        color :           #000;
        background :      #8452b5;
        text-decoration : none;
        font-weight :     bold;
        padding :         2px;
        margin :          1px;
        border :          1px none ;
        border-color :    #000;
        border-style :    solid;
}

.wikiaction {
        color :           #000;
        background :      #0b0;
        text-decoration : none;
        font-weight :     bold;
        padding :         2px;
        margin :          1px;
        border :          1px none ;
        border-color :    #000;
        border-style :    solid;
}


b.wikisummary {
        color :           #ffcf00;
        background :      #000;
        text-decoration : none;
        font-weight :     bold;
        padding :         2px;
        margin :          1px;
        border :          1px none ;
        border-color :    #000;
        border-style :    solid;
}

.wiki:hover {
        color :      #000;
        background : #6300ce;
}

.wikiaction:hover {
        color :      #000;
        background : #ffcf00;
}

img.linkicon, img.rssicon {
	border : 0px;
}

img.rssicon {
	vertical-align : top;
}

/* this doesn't work! */
.wikitext HR {
        background-image :  url("themes/WikiTrek/lights5.gif");
}
/* this image also used for the thank-you signature */
