<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.4 2002-01-20 02:46:50 carstenklapp Exp $ -->
<?php
  $BF = &$ButtonFactory;

  if (!$page->get('locked') || $user->isAdmin())
      $EditB = $BF->makeActionButton("edit",
                                     $IS_CURRENT ? _("EditText") : _("Edit Old Revision"));
  else
      $EditB = $BF->makeActionButton("edit", _("View Source"));
  $EditB = sprintf(_("%s of this page"),$EditB->asHTML());

  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  //<?plugin-link PageHistory page="[pagename]" ?>
  $PageHistoryB = $BF->makeLabelActionPageButton($mtime, _("PageHistory"));

  if ($IS_CURRENT)
      $LastModifiedMsg = sprintf(_("(last edited %s)"), $PageHistoryB->asHTML());
  else
      $LastModifiedMsg = __sprintf(_("(version %s, saved on %s)"),
                                   $VERSION, $PageHistoryB->asHTML());
?>
   <?= $EditB ?> <?= $LastModifiedMsg ?><br />
