<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.9 2002-01-30 01:33:20 dairiki Exp $ -->
<?php
  if (!$page->get('locked') || $user->isAdmin())
      $EditB = $Theme->makeActionButton("edit",
                                        $revision->isCurrent() ? _("EditText") : _("Edit Old Revision"));
  else
      $EditB = $Theme->makeActionButton("viewsource", _("View Source"));
  $EditB = fmt("%s of this page", $EditB);

  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  $PageHistoryB = $Theme->makeActionButton(_("PageHistory"), $mtime);

  if ($revision->isCurrent())
      $LastModifiedMsg = fmt("(last edited %s)", $PageHistoryB);
  else
      $LastModifiedMsg = fmt("(version %s, saved on %s)",
                             $revision->getVersion(), $PageHistoryB);
?>
   <?= $EditB ?> <?= $LastModifiedMsg ?><br />
