<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.13 2002-02-04 00:35:51 carstenklapp Exp $ -->
<?php
  if (!$page->get('locked') || $user->isAdmin())
      $EditB = Button("edit",
                      $revision->isCurrent() ? _("EditText") : _("Edit Old Revision"));
  else
      $EditB = Button("viewsource", _("View Source"));
  $EditB = fmt("%s of this page", $EditB);

  $mtime = $revision->get('mtime');
  $fmtime = $Theme->formatDateTime($mtime);
  // Suppress object to string conversion error.
  // Once the temporary asterisk denoting timezone conversion is removed, the @ can be removed.
  $PageHistoryB = @Button(_("diff"), $fmtime);

  if ($revision->isCurrent())
      $LastModifiedMsg = fmt("(last edited %s)", $PageHistoryB);
  else {
    if (istoday($mtime) || isyesterday($mtime))
      $LastModifiedMsg = fmt("version %s, saved %s.",
                             $revision->getVersion(), $PageHistoryB);
    else
      $LastModifiedMsg = fmt("version %s, saved on %s.",
                             $revision->getVersion(), $PageHistoryB);
}
?>
   <?= $EditB ?> <?= $LastModifiedMsg ?><br />
