<?php // -*-html-*- ?>
<!-- $Id: body.tmpl,v 1.1 2002-01-19 22:48:42 carstenklapp Exp $ -->
<body>
<!-- Page title and logo -->
<h1><a class="wikilink" 
       href="<?=WikiURL(_("HomePage"))?>"
       ><img src="<?=$Theme->getImageURL('logo')?>"
             border="0" alt="<?=$WIKI_NAME?>: <?=_("HomePage")?>" 
             align="bottom" /></a> <?=$HEADER?></h1>
<?= $CONTENT ?>
<hr />
<?= new WikiTemplate('actionbar') ?>
<!-- The bottom navigation/search bar -->
<?= new WikiTemplate('navbar') ?>
<!-- RELATEDPAGES were here. -->
<br />
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
</body>
