<!-- -*-html-*- -->
<!-- $Id: viewsource.tmpl,v 1.6 2002-01-28 01:01:27 dairiki Exp $ -->
<p><strong><?=_("Note:")?></strong>
<?=_("This page has been locked by the administrator and cannot be edited.")?>
<?php if (! $revision->isCurrent()) { ?>
  <br /><?=_("You are viewing an old revision of this page.")?>
  <?= $Theme->makeActionButton('edit', _("View the current version"), $page->getName())?>.
<?php } ?>
</p>
<!-- Dummy form else NS4 doesn't like the textarea -->
<form method="post" action="<?=BASE_URL?>" accept-charset="<?=CHARSET?>">
<!-- wrap=virtual is not HTML4, but without it NS4 doesn't wrap long lines -->
<textarea class="wikiedit"
          name="content"
          rows="<?=$request->getPref('editHeight')?>"
          cols="<?=$request->getPref('editWidth')?>"
	  readonly="readonly"
          wrap="virtual"><?= $FORMVARS['content'] ?></textarea>
<?php
  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  $PageHistoryB = $Theme->makeActionButton(_("PageHistory"), $mtime);

  if ($revision->isCurrent())
      $LastModifiedMsg = fmt("(last edited %s)", $PageHistoryB);
  else
      $LastModifiedMsg = fmt("(version %s, saved on %s)",
			     $revision->getVersion(), $PageHistoryB);

?>
<input type="hidden" name="action" value="browse" />
<input type="hidden" name="pagename" value="<?=$FORMVARS['pagename']?>" />
<input type="hidden" name="version" value="<?=$FORMVARS['version']?>" />
</form>
<hr />
<?= $LastModifiedMsg ?><br />
