<!-- -*-html-*- -->
<!-- $Id: viewsource.tmpl,v 1.7 2002-01-30 01:33:20 dairiki Exp $ -->

<?php if ($page->get('locked') && !$user->isAdmin()) { ?>
  <p><strong><?=_("Note:")?></strong>
  <?=_("This page has been locked by the administrator and cannot be edited.")?></p>
<?php } ?>

<?php if (! $revision->isCurrent()) { ?>
  <p><?=_("You are viewing an old revision of this page.")?>
  <?= $Theme->makeActionButton('edit', _("View the current version"), $page->getName())?>.</p>
<?php } ?>

<!-- Dummy form else NS4 doesn't like the textarea -->
<form method="post" action="<?=BASE_URL?>" accept-charset="<?=CHARSET?>">
<!-- wrap=virtual is not HTML4, but without it NS4 doesn't wrap long lines -->
<textarea class="wikiedit"
          name="content"
          rows="<?=$request->getPref('editHeight')?>"
          cols="<?=$request->getPref('editWidth')?>"
	  readonly="readonly"
          wrap="virtual"><?= $PAGE_SOURCE ?></textarea>
<?php
  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  $PageHistoryB = $Theme->makeActionButton(_("PageHistory"), $mtime);

  if ($revision->isCurrent())
      $LastModifiedMsg = fmt("(last edited %s)", $PageHistoryB);
  else
      $LastModifiedMsg = fmt("(version %s, saved on %s)",
			     $revision->getVersion(), $PageHistoryB);

?>
<?= HiddenInputs($request->getArgs()) ?>
</form>
<hr />
<?= $LastModifiedMsg ?><br />
