<?php // -*-php-*-
  rcs_id('$Id: actionbar.tmpl,v 1.4 2005-02-03 05:19:48 rurban Exp $');
if ((!$page->get('locked') || $user->isAdmin()) and $revision)
    $EditB = Button("edit",
                    $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"));
 else
     $EditB = Button("viewsource", _("View Source"));
?>
<table summary="Toolbar: Mani Navigation"
       width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
  <div class="actionbuttons">
    <?= WikiLink(HOME_PAGE, "known",_("Home")) ?>
    <?=$SEP?><?= WikiLink(_("About")) ?>
    <?=$SEP?><?= WikiLink(_("BlogArchives"),'',_("Archives")) ?>
    <?=$SEP?><?= WikiLink(_("Photos")) ?>
    <?=$SEP?><?= WikiLink(_("HowTo")) ?>
    <?=$SEP?><?= WikiLink(_("RecentChanges")) ?>
    <?=$SEP?><?= Button("PageInfo", _("Info")) ?>
    <?php if (!$revision and $user->isAuthenticated()) { ?>
      <?= $SEP?><?= $EditB ?>
    <?php } ?>
  </div>
  </td>
  <td>
<!--{{{ Search-->
<div id="searchholder">
<form id="searchform" name="searchform" action="<?= WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="<?=$charset?>">
<input type="text" id="livesearch" name="s" size="12" maxlength="256"
   title="<?=_("TitleSearch")?>" value="<?=_("Search")?>"
   onfocus="if (this.value == '<?=_("Search")?>') {this.value = '';}"
   onmouseout="window.status=''; return true;" 
   onmouseover="window.status='<?=_("Search")?>'; return true;"
<?php if (defined("ENABLE_LIVESEARCH") and ENABLE_LIVESEARCH) { ?>
   onKeypress="liveSearchStart()"
   onblur="setTimeout('closeResults()',2000); if (this.value == '') {this.value = '<?=_("Search")?>';}" />
   <br/>
   <div id="LSResult">
   </div>
<?php } else { echo " />"; } ?>
</form>
</div>
<!--}}}-->
  </td>
</tr>
</table>
<div id="pagetrail"><p><?=_("Page Trail")?>: <?plugin PageTrail numberlinks=7 ?></p></div>
