<footer role="contentinfo">
<p class="editdate">
<?php if( $page->getName() != _("HomePage")) { ?>
<?php echo $WikiTheme->getOwnerMessage($page) ?>  <?php echo $WikiTheme->getLastModifiedMessage($revision) ?> <?php echo $WikiTheme->getAuthorMessage($revision) ?><br />
<?php } ?>
This site is powered by <a href="https://sourceforge.net/projects/phpwiki/">PhpWiki</a>. Page design based on Kubrick,<br />adapted by <a href="https://the.taoofmac.com">Rui Carmo</a> from an original design by <a href="https://binarybonsai.com">Michael Heilemann</a>.</p>
</footer>
