<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.5 2002-01-20 03:28:01 carstenklapp Exp $ -->
<?php
  $BF = &$ButtonFactory;

  if (!$page->get('locked') || $user->isAdmin())
      $EditB = $BF->makeActionButton("edit",
                                     $IS_CURRENT ? _("Edit") : _("Edit Old Revision"));
  else
      $EditB = $BF->makeActionButton("edit", _("View Source"));

  $LockPageB = $BF->makeActionButton($page->get('locked') ? 'unlock' : 'lock');
  $RemovePageB = $BF->makeActionButton('remove');

  //<?plugin-link PageHistory page="[pagename]" ?>
  $PageHistoryB = $BF->makeActionPageButton(_("PageHistory"));
  $DiffB = $BF->makeActionButton(array('action' => 'diff', 'previous' => 'major'));

  $DebugInfoB = $BF->makeActionPageButton(_("DebugInfo"));

  $SignInB = $BF->makeActionButton($user->isSignedIn() ? 'logout' : 'login');

  $s = $Theme->getButtonSeparator();
?>

<!-- I would like not to have to use these tables, and managed to
     get this stuff to work more or less correctly using
     CSSs float:left; and float:right;.  However float:right; seems
     to cause MSIE4.01/NT to hang. 
     So, we use tables...  -->
<table summary="Toolbar 1: Page actions and login."
       class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"
       id="actionbar">
<tr valign="middle">
  <td>
    <?= $EditB ?> 
    <?php if ($user->isAdmin()) { ?>
     <?=$s?><?= $LockPageB ?><?=$s?><?= $RemovePageB ?>
    <?php } ?>
   <?=$s?><?= $PageHistoryB ?><?=$s?><?= $DiffB ?> 
   <?=$s?><?= $DebugInfoB ?> <!-- For debugging only, really -->
  </td>

  <form method="post" action="<?=$ACTION?>" accept-charset="<?=CHARSET?>" name="signin">
      <input type="hidden" name="action" value="logout" />
      <input type="hidden" name="pagename" value="HomePage" />

  <td align="right">
   <?php if ($user->isSignedIn()) {
      /* This extra table data is required to properly align an image
       * button next to text. With text-only buttons, it would take up
       * too much room on small screens to align text this way, so the
       * default browse template is overridden for this theme.
       */ ?>
      <?php printf(_("You are signed in as %s"), LinkWikiWord($USERID)); ?>&nbsp;</td>
      <td><?=$s?>
      <!--input type="image" border="0" name="submit" src="themes/theme/MacOSX/buttons/en/SignOut.png" value="SignOut" /-->
      <input type="submit" name="login[logout]" value="SignOut" />
  </td>
    <?php } else { ?>
      <?= new WikiTemplate('signin') ?>
    <?php } ?>
  </td>
</tr></table>
</form>
