<?php echo "<?xml version='1.0' encoding='${CHARSET}'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- phpwiki source:
$Id: message.html,v 1.1 2002-01-04 01:56:09 carstenklapp Exp $
${RCS_IDS}
-->
<base href="${BASE_URL}" />
<meta http-equiv="Content-Type" content="text/html; charset=${CHARSET}" />
<meta name="robots" content="noindex,nofollow" />
${CSS}
<title>${WIKI_NAME}: ${TITLE}</title>
</head>
<body>
<div>${LOGO}</div>
<h1>${TITLE}</h1>
${CONTENT}
</body>
</html>
