/* 
 * $Id: Hawaiian-heavy.css,v 1.7 2002-02-08 08:36:10 carstenklapp Exp $
 *
 * Hawaiian-heavy.css
 *
 * This is stuff which should be in Hawaiian.css, but which breaks NS4.
 */

/* This makes spacings in NS4 too big. */
.toolbar, div.toolbar { margin: 0.5ex 0ex; }

/* This break NS4, but is necessary for IE4. */
div.wikitext { width: auto; }

/* Link icons */
img.linkicon { vertical-align: middle; }

/****************************************************************
 **
 ** Diff Output
 **
 *****************************************************************/
.diff .block div { position: relative; padding-left: 1.5em; } 
.diff .prefix    { position: absolute; left: 0.5em; top: 0; }


