/**
 * $Id: phpwiki.css,v 1.43 2002-02-11 14:52:00 carstenklapp Exp $
 *
 * This incarnation of this stylesheet is a complete rewrite from the
 * ground up. It has not yet been tested against NS4.
 *
 * Mozilla's "DOM Inspector" Sidebar was an invaluable troubleshooting
 * tool for mapping the more complex CSS node selectors, such as those
 * used to reference the various CalendarPlugin elements.
 */

/**
 * NS4 doesn't grok @import.  This allows us to put things which
 * break NS4 in another file. As of OmniWeb 4.1, OW now @imports :-(
 */
@import url(phpwiki-heavy.css);


/**
 * General
 */ 
img {
  border: 0;
  vertical-align: baseline;
}

form  { margin: 0; }
input { margin: 0.1em; }
input.numeric { text-align: right; }
table {
  border-spacing: 1px;
  /* For Mozilla */
  empty-cells: show;
}
caption {
  caption-side: top;
  text-align: left;
  margin-bottom: .5ex;
  /* Allow the caption to extend to the full page width
     Mac ie5.1 ignores this*/
  width: 100%;
}


/**
 * Wiki
 */

/* Main wiki text box */
body {
  /* ivory #ffe #fffff0*/
  background: #fffff0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1ex 1em;
}

div.wikitext {
  margin-top:    1ex;
  margin-bottom: 0.5ex;
  background: white;
  border: 1px black solid;
  padding-left:  0.8em; 
  padding-right: 0.8em;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  /*This breaks Netscape 4: (display does not go full width).
   * width: auto;
   */
  clear: both;
  /* user's browser settings *
  font-family: none; */
}
div.wikitext hr { height: 1px; }

div.wikitext pre { font-family: monospace; }


/**
 * Link styles
 */
.wiki {
  text-decoration: none;
  font-weight: bold;
}

/* wikiaction, wikiadmin, wikiunsafe: */
.wikiaction, .wikiadmin, .wiki-rc-action, .backlinks { 
  text-decoration: none;
}
.backlinks { color: #006; }
h1 .backlinks { text-decoration: underline; }

.wikiaction, .wikiaction table, span.wikiaction {
  border: 1px outset;
  background-color: #ddd;
}
.wikiadmin, .wikiadmin table {
  border: 1px outset;
  background-color: #fdd;
}
.wikiunsafe {
  border: 1px outset;
  background-color: #ccc;
}

/* Unknown links */
.wikiunknown a, .named-wikiunknown a, .wikiunknown u {
  text-decoration: none;
}
 /* QuestionMark #600 */
.wikiunknown a, .named-wikiunknown {
  color: black;
  background-color: #ddd;
}

/* Interwiki links */
.wikipage  { font-weight: bold; }
.interwiki { text-decoration: none; }
.interwiki, i.interwiki .wikipage, em .interwiki .wikipage {
  font-style: oblique;
}
.interwiki .wikipage, i .interwiki, em .interwiki {
  font-style: normal;
}


/**
 * headings
 */
h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; }

h1 { margin: 0; }

/**
 * tables
 */
caption { font-family: Arial, Helvetica, sans-serif; }
.pagelist {
}
.pagelist thead, .pagelist thead u {
}
.pagelist tr.evenrow { background: #eee; }
.pagelist tr.oddrow  { background: white; }


/**
 * Toolbar
 */
.toolbar, input.button { font-family: Arial, Helvetica, sans-serif; }

.toolbar {
  padding: 0;
  margin:  0;
}
/* Prevent buttons from overlapping when wrapped */
#navbar, #actionbar { line-height: 140%; }

.editdate {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  padding-top:    0.25ex;
}


/**
 * Edit Page & View Source
 */

/* Make the textarea the full page width */
textarea.wikiedit {
  width: 100%;
  margin-bottom: 0.5ex;
  margin-top:    0.5ex;
  padding: 2px;
}

input.button { font-family: Arial, Helvetica, sans-serif; }

#editarea-size {
  margin-top: 1ex;
  text-align: right;
  font-size: smaller;
}

/* IncludePage plugin */
.transclusion-title {
  text-align: right;
  font-style: oblique;
  font-size:  smaller;
  text-decoration: underline;
  margin-bottom: 0.25ex;
  margin-right:  0.25em;
} 
.transclusion, .wiki-edithelp {
  font-size: smaller;
}
.transclusion {
  background: inherit;
  border: 1px solid gray;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:     0px;
  padding-bottom:  0px;
  margin-left:   0.25em;
  margin-right:  0.25em;
  margin-bottom: 0.1ex;
}
.wiki-edithelp {
  background: white;
  border: medium solid #fff8dc; /* darker ivory */
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.75ex;
  padding-bottom: 0.75ex;
  margin-left:  0;
  margin-right: 0;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.wiki-edithelp .wiki {
  /* color: #5454ff;*/
}
.wiki-edithelp p {
  background: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  margin: 0;
}


/**
 * Calendar plugin
 */
table.cal {
  border: 1px outset gray;
  background: white;
  margin: 0.5ex 0.5em;
  padding: 1px;
  /* For Mozilla */
  empty-cells: hide;
} 

/* cells */
table.cal td {
  background: white;
  text-align: right;
} 

/* Month-name header */
table.cal-header { /* the html for this should really be in the thead */
  font-size: larger;
}
table.cal-header tr, table.cal-header td {
  text-align: center;
  background: inherit;
}
.cal-arrow {
  font-weight: bold;
  text-decoration: none;
}

/* Day-names header */
table.cal tbody tr .cal-dayname { /* the html for this should really be in the thead */
  background: inherit;
}
.cal-dayname td {
  text-align: center;
  font-size: smaller;
  text-decoration: underline;
}

/* Individual days */
a.cal-hide { text-decoration: none; }

/* Today */
 /* cell */
table.cal td.cal-today {
  background: inherit;
  margin: 1px;
  border: 1px solid gray;
}
 /* text */
table.cal td.cal-today a.cal-hide {
  color: inherit;
}


/**
 * Diff Output
 */

/* main box */
.diff .block {
  background: #ccc;
  /*border: 1px solid black;*/
  padding: 0.5ex 0.5em;
  margin:  0.5ex 0;
}

/* individual lines */
.diff .context { background: white; }

/* + - line prefix */
.diff .block tt{
  font-weight: bold;
  font-family: monospace;
  margin-left: -.6em;
  color: black;
}

.diff del, .diff ins {
  font-weight: bold;
  text-decoration: none;
}
.diff .original, .diff .deleted { background: #fcc; }
.diff .final, .diff .added { background: #cfc; }

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
.diff del { background: #f99; }
.diff ins { background: #9f9; }


/**
 * Other
 */
.printer { display: none; }

/* PHP Warnings */
div.errors {
  color: black;
  background: #eee;
  margin-top:    1em;
  margin-bottom: 1em;
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  padding-top:    0.8ex;
  padding-bottom: 0;
  font-size: smaller;
  border: medium solid red;
  clear: both;
}
.errors h4 {
  color: red;
  background: inherit;
  margin:  0;
  padding: 0;
  text-decoration: underline;
}
.error { font-family: monospace; }
.error ul { font-family: monospace; }

/* Debug */
.debug {
  color: black;
  background: white;
  font-family: monospace;
  margin: 1ex 0;
  padding: 0.5ex 0.5em;
  border: medium solid #fff8dc; /* darker ivory */
}


/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
