<!-- DEFINE {Title} -->
Error
<!-- END -->
<p>I'm sorry, there has been an error:</p>
<dl>
<dd><em>
<!-- IF ({Message} == 'NoPreviousVersion') -->
There is no archived previous version of
page <a href="{Page:Latest:Url}">{Page:Name}</a> version {Page:Version}.
<!-- END -->
<!-- IF ({Message} == 'BadVersion') -->
Version {Page:Version} of page <a href="{Page:Latest:Url}">{Page:Name}</a>
does not exist in the archives.
<!-- END -->
<!-- IF ({Message} == 'ZipForAdminOnly') -->
Only the administrator can make zip archives.
<!-- END -->
<!-- IF ({Message} == 'LockForAdminOnly') -->
Only the administrator can (un)lock pages.
<!-- END -->
<!-- IF ({Message} == 'CantLockNonexistingPage') -->
Can not lock non-existing page.
<!-- END -->
</em></dd>
</dl>
<hr>
If you think you have discovered a bug, please
<a href="mailto:dairiki@dairiki.org">let me know</a>.
