<?php  // -*-html-*-
rcs_id('$Id$');
/*
 * No header for Gforge (already provided)
 *
 */
?>
<?php $WikiTheme->header() ?>
<?= $WikiTheme->getMoreHeaders() ?>
<?= Template('body') ?>
<?php $WikiTheme->footer() ?>
<?php 
if (defined('DEBUG') and DEBUG) {
    echo "<!-- phpwiki source: \n";
    echo $RCS_IDS;
    echo "-->\n";
}
?>