<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="index,follow" />
<meta name="language" content="sv" />
<meta name="PHPWIKI_VERSION" content="###PHPWIKI_VERSION###" />
<link rel="shortcut icon" href="###DATA_PATH###/images/favicon.ico" />
<title>###SPLIT_PAGE###</title>
</head>

<body bgcolor="linen" text="black" alink="red" link="darkblue" vlink="darkmagenta">

<h1><a href="###SCRIPTURL###"><img src="###LOGO###" border="0" alt="[phpwiki]" align="middle" width="50" height="50"></a>
###PAGE###</h1>

###CONTENT###

</body>
</html>
