<?php echo "<?xml version='1.0' encoding='$CHARSET'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- phpwiki source:
$Id: browse.html,v 1.51 2002-01-15 23:40:25 dairiki Exp $
${RCS_IDS}
-->
<meta http-equiv="Content-Type" content="text/html; charset=${CHARSET}" />
<!-- <meta name="robots" content="index,follow" /> -->
<meta name="keywords" content="${SPLIT_PAGE}, ${WIKI_NAME}" />
<?php if (!empty($PAGE_DESCRIPTION)) { ?>
  <meta name="description" content="${PAGE_DESCRIPTION}" />
<?php } ?>
<base href="${BASE_URL}" />
<link rel="shortcut icon" href="favicon.ico" />
${CSS}
<title>${WIKI_NAME}: ${SPLIT_PAGE}</title>

<!--
-->
</head>
<?php
  $BF = &$ButtonFactory;

  if (!$page->get('locked') || $user->is_admin())
      $EditB = $BF->makeActionButton("edit",
                                     $IS_CURRENT ? _("Edit") : _("Edit old revision"));
  else
      $EditB = $BF->makeActionPageButton(_("ViewSource"));

  $LockPageB = $BF->makeActionButton($page->get('locked') ? 'unlock' : 'lock');
  $RemovePageB = $BF->makeActionButton('remove');

  //<?plugin-link PageHistory page="[pagename]" ?>
  $PageHistoryB = $BF->makeActionPageButton(_("PageHistory"));
  $DiffB = $BF->makeActionButton(array('action' => 'diff', 'previous' => 'major'));

  $RecentChangesB = $BF->makeLinkButton(_("RecentChanges"));
  $FindPageB = $BF->makeLinkButton(_("FindPage"));

  $LikePagesB = $BF->makeActionPageButton(_("LikePages"));
  $BackLinksB = $BF->makeActionPageButton(_("BackLinks"));
  $DebugInfoB = $BF->makeActionPageButton(_("DebugInfo"));

  $SignInB = $BF->makeActionButton($user->is_authenticated() ? 'logout' : 'login');

  if ($IS_CURRENT)
      $LastModifiedMsg = sprintf(_("Last edited on %s."), $LASTMODIFIED);
  else
      $LastModifiedMsg = __sprintf("Version %s, saved on %s.",
                                   $VERSION, $LASTMODIFIED);
?>
<body>

<div><a class="wikilink" 
        href="${BROWSE}$_("HomePage")"
        ><img src="${LOGO}"
              border="0" alt="${WIKI_NAME}: $_("HomePage")" 
              align="right" /></a></div>

<h1><?plugin-link BackLinks page="[pagename]" class="backlinks" linktext="${SPLIT_PAGE}" ?></h1>

<div class="br"><br clear="all" class="ignore" /></div>

${SAVEPAGE_MESSAGES} <!-- FIXME: I don't like this -->

<?php if (! $IS_CURRENT) { ?>
  <p><strong>$_("Note:")</strong> $_("You are viewing an old revision of this page.")
     <a href="${BROWSE}${PAGEURL}">$_("View the current version")</a>.</p>
  <hr class="ignore" noshade="noshade" />
<?php } ?>

<div class="wikitext">${CONTENT}</div>
<hr class="ignore" noshade="noshade" />

<p>${LastModifiedMsg}</p>

<hr noshade="noshade" class="toolbar" />
<!-- I would like not to have to use these tables, and managed to
     get this stuff to work more or less correctly using
     CSSs float:left; and float:right;.  However float:right; seems
     to cause MSIE4.01/NT to hang. 
     So, we use tables...  -->
<form action="<?php echo WikiURL(_("TitleSearch"));?>"
      method="get" accept-charset="${CHARSET}">
<table summary="Toolbar 1: Page actions and search for pages."
       class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
    ${EditB} 
    <?php if ($user->is_admin()) { ?>
      | ${LockPageB} | ${RemovePageB}
    <?php } ?>
    | ${PageHistoryB} | ${DiffB} 
    |  ${DebugInfoB} <!-- For debugging only, really -->
  </td>
  <td align="right">
    ${RecentChangesB} | ${FindPageB}  
    | <input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12"
             title=_("Quick Search")
             onmouseover="window.status='$_("Quick Search")'; return true;"
             onmouseout="window.status=''; return true;" />
    | ${LikePagesB} | ${BackLinksB}
  </td>
</tr></table>

<div class="toolbar">
    <?php if ($user->is_authenticated()) { ?>
        <?php printf(_("You are signed in as %s"), LinkWikiWord($USERID)); ?> |
    <?php } ?>
    ${SignInB}
</div>

<!-- RELATEDPAGES were here. -->

<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML(); ?>

</form>
</body>
</html>
