<?php echo "<?xml version='1.0' encoding='ISO-8859-1'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- phpwiki source:
$Id: browse.html,v 1.24 2001-12-10 20:53:40 carstenklapp Exp $
${RCS_IDS}
-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- <meta name="robots" content="index,follow" /> -->
<base href="${BASE_URL}" />
<title>${SPLIT_PAGE}</title>
<!--
-->
<link rel="stylesheet" title="phpwiki" href="${CSS_URL}" type="text/css" />
</head>
<body>
<div><a class="wikilink" 
        href="${BROWSE}HomePage"
        ><img src="${LOGO}"
              border="0" alt="[phpwiki]" 
              align="right" width="50" height="50" /></a></div>
<h1>
<?plugin-link BackLinks description=_("Get BackLinks for [pagename]")
                        page="[pagename]" class="backlinks"
                        linktext="${SPLIT_PAGE}" ?>
</h1>
<div class="br"><br clear="all" class="ignore" /></div>
<?php if (! $IS_CURRENT) { ?>
  <p><strong>$_("Note:")</strong> $_("You are viewing an old revision of this page.")
     $_("Click") <a href="${BROWSE}${PAGEURL}">$_("here")</a> $_("to view the current version.")</p>
  <hr class="ignore" noshade="noshade" />
<?php } ?>
<div class="wikitext">${CONTENT}</div>
<hr class="ignore" noshade="noshade" />
<form action='<?php echo WikiURL(_("TitleSearch")); ?>' method="get">
<!-- I would like not to have to use these tables, and managed to
     get this stuff to work more or less correctly using
     CSSs float:left; and float:right;.  However float:right; seems
     to cause MSIE4.01/NT to hang. 
     So, we use tables...  -->
<table summary="Toolbar 1: Page date and page search options." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"><tr valign="baseline">
  <td>
    <?php if ($IS_CURRENT) { ?>
      $_("Last edited on") ${LASTMODIFIED}
    <?php } else { ?>
      $_("Version") ${VERSION} $_(", saved on") ${LASTMODIFIED}
    <?php } ?>
  </td>
  <td align="right">
  <?php echo LinkExistingWikiWord(_("FindPage")) ?> 
  | <span><input type="hidden" name="auto_redirect" value="1" />
    <input type="text"  name="s" size="12"
           title=_("Quick Search")
           onmouseover="window.status='$_("Quick Search")'; return true;"
           onmouseout="window.status=''; return true;" /></span>
  | <?plugin-link LikePages page="[pagename]" description=_("List LikePages for [pagename]")?>
  </td>
</tr></table>
<table summary="Toolbar 2: Page actions and sign in." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"><tr valign="baseline">
  <td>
    <?php if ($page->get('locked') && !$user->is_admin()) { ?>
      $_("Page locked")
    <?php } else { ?>
      <?php if ($IS_CURRENT) { ?>
        <a class="wikiaction" href="${ACTION}edit">$_("Edit")</a>
      <?php } else { ?>
        <a class="wikiaction" href="${ACTION}edit&amp;version=${VERSION}"
          >$_("Edit old revision")</a>
      <?php } ?>
    <?php } ?>
    <?php if ($user->is_admin()) { ?>
      <?php if ($page->get('locked')) { ?>
        | <a class="wikiadmin" href="${ACTION}unlock">$_("Unlock page")</a>
      <?php } else { ?>
        | <a class="wikiadmin" href="${ACTION}lock">$_("Lock page")</a>
      <?php } ?>
      | <a class="wikiadmin" href="${ACTION}remove">$_("Remove page")</a>
    <?php } ?>
    | <a class="wikiaction" href="${ACTION}info">$_("History")</a>
    <?php if ($IS_CURRENT) { ?>
      | <a class="wikiaction" href="${ACTION}diff&amp;previous=major">$_("Diff")</a>
    <?php } else { ?>
      | <a class="wikiaction" 
           href="${ACTION}diff&amp;version=${VERSION}&amp;previous=major">$_("Diff")</a>
    <?php } ?>
  </td>
  <td align="right">
    <?php if ($user->is_authenticated()) { ?>
      $_("You are signed in as") <?php echo LinkWikiWord($USERID); ?>
      | <a class="wikiaction" href="${ACTION}logout">$_("SignOut")</a>
    <?php } else { ?>
      <a class="wikiaction" href="${ACTION}login">$_("SignIn")</a>
    <?php } ?>
  </td>
</tr></table>

<?php /*
<hr class="ignore" noshade="noshade" />
<small>${RELATEDPAGES}</small>
*/ ?>
<?php // FIXME:hack
ob_start();
global $ErrorManager;
$ErrorManager->flushPostponedErrors();
$errmsgs = ob_get_contents();
ob_end_clean();
if ($errmsgs)
    echo Element('div', array('class' => 'errors'),
                 QElement('h4', _("PHP Warnings"))
		 . $errmsgs);
?>
<div class="toolbar">
  <!-- For debugging only, really: -->
  <?plugin-link _BackendInfo 
                linktext=_("DebugInfo")
                targetpage=_("DebugInfo")
                page=[pagename]
                description=_("Get debugging information for [pagename].")?>
</div>
</form>
</body>
</html>
