<?php echo "<?xml version='1.0' encoding='ISO-8859-1'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- phpwiki source:
$Id: editpage.html,v 1.26 2001-12-16 11:54:31 carstenklapp Exp $
${RCS_IDS}
-->
<base href="${BASE_URL}" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="noindex,nofollow" />
<link rel="stylesheet" title="phpwiki" href="${CSS_URL}" type="text/css" />

<title>$_("Edit:") ${SPLIT_PAGE}</title>
</head>

<body>
<div><a class="wikilink"
        href="${BROWSE}$_("HomePage")"
        ><img src="${LOGO}" border="0" align="right"
	     alt="[phpwiki]" width="50" height="50" /></a></div>
<h1>
$_("Edit") <a href="${BROWSE}${PAGEURL}"  
        class="wikilink"><span class="wikiword">${PAGE}</span></a>
</h1>

<?php if (!empty($PREVIEW_CONTENT)) { ?>
  <p><strong>$_("Preview only!  Changes not saved.")</strong></p>
  <div class="wikitext">${PREVIEW_CONTENT}</div>
  <hr class="ignore" noshade />
<?php } ?>

<?php if (!$IS_CURRENT) { ?>
  <p><strong>$_("Warning: You are editing an old revision.")
        $_("Saving this page will overwrite the current version.")</strong></p>
  <hr class="ignore" noshade />
<?php } ?>

<?php /*
 * FIXME: Hack! 
 * The URL used for the form action parameter is bogus.
 * This is needed, otherwise the redirect to the real browser
 * page won't work with some browsers (NS4).  (NS4 won't accept
 * a redirect from a page to itself.)
 */ ?>

<form method="post" action="${BROWSE}EditPage">
<textarea class="wikiedit"
          name="content"
          rows="${EDIT_AREA_HEIGHT}"
          cols="${EDIT_AREA_WIDTH}"
          wrap="virtual">$FORMVARS[content]</textarea>

<div class="toolbar" style="text-align: center;">
  $_("Summary:")<input type="text" class="wikitext"
                       name="summary" value="$FORMVARS[summary]" size="50" />
</div>
<table summary="Toolbar: Page editing options." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"><tr valign="baseline">
  <td>
    <input type="checkbox" name="minor_edit" value="checked" $FORMVARS[minor_edit] />
    $_("This is a minor change.")
  </td>
  <td align="center">
    <input type="submit" class="button" name="preview" value=_("Preview") />
    | <input type="submit" class="button" value=_("Save") />
  </td>
  <td align="right">
    <?php if ($user->is_authenticated()) { ?>
      $_("You are signed in as") <?php echo LinkWikiWord($USERID); ?>
    <?php } else { ?>
      $_("Author will be logged as") <i>${USERID}</i>.
    <?php } ?>
  </td>
</tr></table>
<p style="clear: both; padding: 2ex 0ex 0ex;">
  $_("You can change the size of the editing area in")
  <?php echo LinkExistingWikiWord(_("UserPreferences")); ?>.
  $_("See") <?php echo LinkExistingWikiWord(_("GoodStyle")) ?> $_("tips for editing.")
</p>
<hr noshade="noshade" />
<small>
<?php echo LinkExistingWikiWord(_("TextFormattingRules")) ?><br>
<b>$_("Emphasis:")</b>
  '' $_("for italics"),
  __ $_("for bold"),
  ''__ $_("for both")
<br /><b>$_("Lists:")</b>
  * $_("for bullet lists"), #
              $_("for numbered lists"),
  ''; $_("term") : $_("definition")'' $_("for definition lists")
<br /><b>$_("References:")</b>
  $_("JoinCapitalizedWords or use square brackets for a [page link] or URL [http://cool.wiki.int/].")
<br /><b>$_("Footnotes:")</b>
   $_("Use [1],[2],[3],...")
<br /><b>$_("Preventing linking:")</b>
   $_("Prefix with '!': !DoNotHyperlink,")
   $_("name links like [[text | URL] (double up on the '[')")
<br /><b>$_("Misc:")</b>
   "!", "!!", "!!!" $_("make headings"),
   "%%%" $_("makes a linebreak"),
   "- - - -" $_("makes a horizontal rule")
</small>

<input type="hidden" name="action" value="save" />
<input type="hidden" name="pagename" value="$FORMVARS[pagename]" />
<input type="hidden" name="editversion" value="$FORMVARS[editversion]" />
<input type="hidden" name="version" value="$FORMVARS[version]" />
</form>
</body>
</html>
