<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<!-- phpwiki source:
###RCS_IDS###
-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
###ROBOTS_META###
<base href="###BASE_URL###">
<title>Edit: ###SPLIT_PAGE###</title>
<link rel="stylesheet" title="phpwiki" href="###CSS_URL###" type="text/css">
</head>

<body bgcolor=ivory text=black alink=red link=darkblue vlink=darkmagenta>
<form class="wikiaction" method="POST" action="###BROWSE_PAGE###">
<h1><a class="wikilink" href="###BROWSE###HomePage"><img src="###LOGO###" border=0 alt="[phpwiki]" width=50 height=50></a>
Edit <span="wikiword">###PAGE###</span>
<input type="submit" value=" Save "></h1>

<textarea name="content"
          rows="###EDIT_AREA_HEIGHT###"
          cols="###EDIT_AREA_WIDTH###"
          wrap="virtual">###CONTENT###</textarea>
<br>
###IF:MINOR_EDIT_CHECKBOX###
  ###MINOR_EDIT_CHECKBOX### This is a minor change, don't archive old version.
  <br>
###ENDIF:MINOR_EDIT_CHECKBOX###
<input type="checkbox" name="convert" value="tabs" >
I can't type tabs.
Please <a class="wikilink" href="###BROWSE###ConvertSpacesToTabs"><span class="wikiword">ConvertSpacesToTabs</span></a>
for me when I save.
<p>You can change the size of the editing area.
See <a class="wikilink" href="###BROWSE###UserPreferences"><span class="wikiword">UserPreferences</span></a>.</p>
<p><a class="wikilink" href="###BROWSE###GoodStyle"><span class="wikiword">GoodStyle</span></a> tips for editing.</p>

###IF COPY###<br><a class="wikiaction" href="###ACTION###edit&amp;version=archive">EditCopy</a> from previous author

<hr noshade>
<small>
<b>Emphasis:</b> '' for italics, ''' for bold, ''''' for both
<br><b>Lists:</b> tab-* for bullet lists, tab-# for numbered lists, tab-Term:-tab for definition lists
<br><b>References:</b> JoinCapitalizedWords or use square brackets for a [page link] or URL [http://cool.wiki.int/].
<br><b>References:</b> Use [1],[2],[3],... and EditLinks. Avoid linking with "!": !DoNotHyperlink, name links like [text | URL]
<br><b>Misc:</b>"!", "!!", "!!!" make headings,
"%%%" makes a linebreak, "- - - -" makes a horizontal rule, escape "[" with "[["
<br>more on
<a class="wikilink" href="###BROWSE###TextFormattingRules"><b><span class="wikiword">TextFormattingRules</span></b></a>
</small>

<input type="hidden" name="action" value="save">
<input type="hidden" name="pagename" value="###PAGE###">
<input type="hidden" name="editversion" value="###VERSION###">
</form>
</body>
</html>
