<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
<!-- phpwiki source:
${RCS_IDS}
-->
<base href="${BASE_URL}">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" title="phpwiki" href="${CSS_URL}" type="text/css">
<title>${TITLE}</title>
</head>
<body>
<h1>
<div><a class="wikilink" 
       href="${BROWSE}HomePage"
       ><img src="${LOGO}" align="right"
             border=0 alt="[phpwiki]"
              width=50 height=50
       ></a></div>
${TITLE}
</h1>

${CONTENT}

</body>
</html>
