<?php echo "<?xml version='1.0' encoding='ISO-8859-1'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- phpwiki source:
$Id: message.html,v 1.16 2001-12-16 16:56:18 carstenklapp Exp $
${RCS_IDS}
-->
<base href="${BASE_URL}" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="noindex,nofollow" />
<link rel="stylesheet" title="phpwiki" href="${CSS_URL}" type="text/css" />
<title>${TITLE}</title>
</head>
<body>
<div><a class="wikilink" 
       href="${BROWSE}$_("HomePage")"
       ><img src="${LOGO}" align="right"
             border="0" alt="[phpwiki]"
              width="50" height="50"
       /></a></div>
<h1>${TITLE}</h1>

${CONTENT}

</body>
</html>
