<?php // -*-html-*-
  rcs_id('$Id: bottom.tmpl,v 1.4 2003-03-05 21:38:15 dairiki Exp $');
?>
<!-- Add your Disclaimer here -->
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (defined('DEBUG') and DEBUG) { ?><?= Template('debug') ?><?php } ?>
