<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.4 2002-02-02 07:24:50 carstenklapp Exp $ -->
<?php $old = $Theme->getButtonSeparator();
      $Theme->setButtonSeparator(HTML::br());

// Template('default-actionbar')

  if (!$page->get('locked') || $user->isAdmin())
      $EditB = Button("edit",
                      $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"));
  else
      $EditB = Button("viewsource", _("View Source"));

  $Sep = $Theme->getButtonSeparator();
?>

<?= $EditB ?> 
<?php if ($user->isAdmin()) { ?>
  <?=$Sep?><?= Button($page->get('locked') ? 'unlock' : 'lock') ?>
  <?=$Sep?><?= Button('remove') ?>
<?php } ?>
<?=$Sep?><?= Button(_("PageHistory")) ?>
<?=$Sep?><?= Button("diff") ?> 
<?=$Sep?><?= Button(_("DebugInfo")) ?> <!-- For debugging only, really -->
<?= Template('signin') ?>

<?php $Theme->setButtonSeparator($old); ?>
