/**
 * $Id: WikiTrek.css,v 1.20 2002-02-07 21:58:19 carstenklapp Exp $
 *
 * This theme will probably be renamed something like "Space" to
 * avoid any potential copyright issues.
 *
 * http://www.w3.org/TR/REC-CSS2/indexlist.html
 *
 * #fff; white
 * #000; black
 * #fff313; yellow
 * #ddc300; darker-yellow
 * #5791ff; bright-blue
 * #0053db; blue
 * #8452b5; magenta
 * #982505; red
 * #ef0032; light-red
 * #009000; green
 * #1bab11; light-green
 * #ff7e00; orange
 */


/**
 * NS4 doesn't grok @import.  This allows us to put things which
 * break NS4 in another file.
 */
@import url(WikiTrek-gravimetric.css);


/**
 * General
 */
body {
  /* the background image url is relative to this file's directory */
  /*background-image:  url(images/starfield.png) repeat; */
  color:             #fff;
  background-color:  #000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a { color: #0053db; }

img.linkicon, img.rssicon {
  border: 0px;
}

/**
 * <hr>
 * Not all browsers support this, but it's a cool trick when it is!
 * yes=OmniWeb 4.1sp28; No=IE5.1Mac, Mozilla0.97Mac, iCAB2.6Mac.
 * It maybe better to do this with a new wiki Theme element??
 */
.wikitext hr {
  background-image:   url("images/hr.png");
  background-repeat:   repeat;
  background-position: center;
}


/**
 * Forms
 */
textarea, input {
  color:      white;
  background: black;
}

textarea {
  border: 2px solid #0053db;
  padding-top:   .5ex;
  padding-bottom:.5ex;
  padding-left:  .5em;
  padding-right: .25em;
}

input {
  border: 2px solid #0053db;
  text-align:  center;
  font-family: Helvetica, Arial, sans-serif;
}

div.toolbar input {
  border:  1px solid #0053db;
  padding: 1px;
  text-size:   smaller;
  text-align:  left;
  font-family: Helvetica, Arial, sans-serif;
}

input.button {
  font-family: Helvetica, Arial, sans-serif;
}

b.wikisummary {
  color:        #fff313;
  background:   #000;
  text-decoration: none;
  font-weight:  bold;
  padding:      2px;
  margin:       1px;
  border:       1px none ;
  border-color: #000;
  border-style: solid;
}


/**
 * RecentChanges
 */
.rssicon {
  border-color: #000;
  border-width: 2px;
}
.rc-major {
  color:       #fff;
  background:  #000;
  font-weight: normal;
  text-decoration: none;
}

img.rssicon {
  vertical-align: top;
}


/**
 * Main text area
 */
.wikitext , .toolbar , p , td {
  font-family: Helvetica, Arial, sans-serif;
}

.wikitext td { color: white; }

.wikitext pre {
  font-family: monospace;
}

div.wikitext {
  font-weight: normal;
  color:       #fff;
  background:  url("images/tchecker-black.png") repeat;
  padding: 1em;
  margin:  0.5ex;
  clear:   both;
}

p.editdate {
  color:            #000;
  background-color: #96c;
  padding-top:    0.25ex;
  padding-left:   0.5em;
  padding-right:  0.5em;
  padding-bottom: 1px;
  margin-top:     2em;
  margin-bottom:  0ex;
}


/**
 * Headings
 */
h1 {
  color:            #000;
  background-color: #fff313;
  padding-top:      0.25ex;
  padding-left:     0.5em;
  padding-right:    0.25em;
  padding-bottom:   1px;
}
h1 a.wiki, h1 a.backlinks {
  color:            #fff313;
  background-color: #000;
  text-decoration:  none;
  padding-top:      0.25ex;
  padding-left:     0.25em;
  padding-right:    0.25em;
  padding-bottom:   1px;
}

h2 {
color:            #000;
  background-color: #0053db;
  padding-top:      0.25ex;
  padding-left:     0.5em;
  padding-right:    0.5em;
  padding-bottom:   1px;
  margin-top:       2ex;
  margin-left:      0.5em;
}

h3 {
  color:            #000;
  background-color: #96c;
  padding-top:      0.25ex;
  padding-left:     0.5em;
  padding-right:    0.5em;
  padding-bottom:   1px;
  margin-top:       2ex;
  margin-left:      1.0em;
}

h4 {
  color:            #000;
  background-color: #639;
  padding-top:      0.25ex;
  padding-left:     0.5em;
  padding-right:    0.5em;
  padding-bottom:   1px;
  margin-top:       2ex;
  margin-left:      1.5em;
}

h5 {
  color:            #000;
  background-color: #888;
  padding-top:      0.25ex;
  padding-left:     0.5em;
  padding-right:    0.5em;
  padding-bottom:   1px;
  margin-top:       2ex;
  margin-left:      2.0em;
}

h6 {
  color:            #000;
  background-color: #aaa;
  padding-top:      0.25ex;
  padding-left:     0.5em;
  padding-right:    0.5em;
  padding-bottom:   1px;
  margin-top:       2ex;
  margin-left:      2.5em;
}


/**
 * Toolbars
 */
.wikitext a.wiki {
  color:           #fff313;
  background:      inherit;
  font-weight:     bold;
  text-decoration: none;
}
.wikitext a.wiki:hover, .wiki:hover {
  color: #44cff4;
}

.toolbar {
  color: white;
  font-size: larger;
}

div.toolbar { margin-top: 1ex; }

.toolbar .wiki {
  color:           #0053db;
  background:      inherit;
  text-decoration: none;
  font-weight:   bold;
  border-left:   1.5em solid #0053db;
  border-right:  0.15em solid #0053db;
  padding-left:  0.15em;
  padding-right: 0.3em;
}
.toolbar .wiki:hover {
color: #5791ff;
  border-right: 0.15em solid #5791ff;
  font-weight:  bold;
}

.wikiaction {
  color:           #115511;
  background:      inherit;
  text-decoration: none;
  font-weight:     bold;
  border-left:   1.5em solid #115511;
  border-right:  0.15em solid #115511;
  padding-left:  0.15em;
  padding-right: 0.3em;
}
.wikiaction:hover {
  color: #1bab11;
  border-right: 0.15em solid #1bab11;
}

.wikiadmin {
  color: #982505;
  text-decoration: none;
  font-weight:     bold;
  border-left:   1.5em solid #982505;
  border-right:  0.15em solid #982505;
  padding-left:  0.15em;
  padding-right: 0.3em;
}
.wikiadmin:hover {
color:       #ef0032;
  border-right: .15em solid #ef0032;
}


/**
 * IncludePage plugin
 */
.transclusion-title {
  font-style: oblique;
  font-size: smaller; /* 0.75em; */
  text-decoration: underline;
  text-align: right;
}

div.transclusion {
background: #1b1722;
border:     1px solid #403752;
margin:     0.5ex 0px;
}

/* The transclusion of the TextEditingRules Synopsis on templates/editpage.html */
div.wiki-edithelp .transclusion {
  font-size:   smaller;
  background:  inherit;
  margin:     0.2ex 5%;
}
div.wiki-edithelp .transclusion p {
  margin: 0;
}
div.wiki-edithelp {
  color: #a2a2a2;
  background-color: #1b1722;
  /*background: url(images/tchecker-grey.png);*/
  border: 1px solid #403752;
  padding-top:    0;
  padding-left:   1em;
  padding-bottom: 0;
  padding-right:  1em;
  font-size:  smaller;
}
div.wiki-edithelp .wiki {
  color:           #fff313;
  background:      inherit;
  font-weight:     bold;
  text-decoration: none;
}

/****************************************************************
**
** Diff Output
**
*****************************************************************/
.diff .block	{ padding: 0.5ex 0.5em; margin: 0.5ex 0; }
.diff .block tt	{ font-weight: bold; }
.diff del,
.diff ins	{ font-weight: normal; text-decoration: none; }

/* These screw up NS4 --- moved to phpwiki-heavy.css
.diff .block div { position: relative; padding-left: 1.5em; }
.diff .prefix	{ position: absolute; left: 0.5em; top: 0; }
*/

.diff .block	{ color: #000; background: #fff313; }
.diff .context	{ color: #fff; background: #000; }
.diff .original,
.diff .deleted	{ background: #a40024; }
.diff .final,
.diff .added	{ background: #cfc; }
/*
 .diff .original	{ background: #feb; }
 .diff .final	{ background: #efb; }
 */
/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
.diff del	{ background: #a40024; }
.diff ins	{ background: #9f9; }


/**
 * PageList output
 */
.pagelist tr.evenrow  { background: #111; }
.pagelist tr.oddrow   { background: black url("images/tchecker-black.png") repeat; }

