/* $Id: WikiTrek-gravimetric.css,v 1.2 2001-12-27 18:12:00 carstenklapp Exp $ */

.toolbar .wiki {
        color :           #000;
}

.wikiaction {
        color :           #000;
}

.wiki:hover {
        color :      #000;
}

.wikiaction:hover {
        color :      #000;
}
