<textarea class="wikiedit"
          name="content"
          rows="<?php echo $request->getPref('editHeight') ?>"
          cols="<?php echo $request->getPref('editWidth') ?>"
          readonly="readonly"
><?php echo $PAGE_SOURCE ?>
</textarea>
<hr />
<a href="<?php echo WikiURL($page,array('action'=>_("PageHistory")))?>">
<?php echo $WikiTheme->getLastModifiedMessage($revision) ?></a>
<br />
