<?php // -*-php-*- ?>
<!-- $Id: actionbar.tmpl,v 1.10 2006-12-06 22:05:38 rurban Exp $ -->
<?php $dbh = $request->getDbh(); ?>
<div id="p-cactions" class="portlet">
    <h5>Views</h5>
    <ul>
    <?php if (!string_ends_with($page->getName(), _("Discussion"))) { ?>
    <?php $talk = new WikiPageName('Talk:'.$page->getName()); ?>
      <?= ActionButton(array(),
		       $request->isActionPage($request->getArg("action")) ? _("ActionPage") : _("Article"), 
		       $talk->getParent(), array('class'=>"selected")) ?>
      <?php if (!$request->isActionPage($request->getArg("action"))) { ?>
        <?php if ($dbh->isWikiPage($talk->getName())) { ?>
	  <?= ActionButton(array('action'=>'browse'), _("Discussion"), $talk->getName()) ?>
        <?php } else { ?>
	  <?= ActionButton(array('action'=>'create',
                              'template'=>'TemplateTalk'),
			   _("Discussion"), $talk->getName()) ?>
        <?php } ?>
      <?php } ?>
    <?php } else {
      $talk = new WikiPageName($page->getName()); ?>
      <?= ActionButton(array(),_("Article"), $talk->getParent()) ?>
      <?= ActionButton(array(),_("Discussion"), $talk->getParent(), array('class'=>"selected")) ?>
    <?php } ?>
    <?php if ((!$page->get('locked') || $user->isAdmin()) and !(empty($revision))) { ?>
      <?= ActionButton("edit", $revision->isCurrent() ? _("Edit") : _("Edit Old Revision")) ?>
    <?php } else { ?>
      <?= ActionButton("viewsource", _("View Source")) ?>
    <?php } ?>
    <?= ActionButton(_("PageHistory")) ?>
    <?= ActionButton("diff") ?> 
    <? if ( $user->isSignedIn() ) { ?>
      <?= ActionButton("WatchPage", _("Watch")) ?>
    <?php } ?>
    </ul>
</div>
<div class="portlet" id="p-tbx">
  <h5>Special Actions</h5>
  <div class="pBody">
  <ul>
    <? if ( $user->isSignedIn() ) { ?>
     <?php if ($user->isAdmin() or mayAccessPage('change', $page->getName())) { ?>
      <?= ActionButton($page->get('locked') ? 'unlock' : 'lock') ?>
     <?php if (ENABLE_PAGEPERM and mayAccessPage('change', $page->getName())) { ?>
      <?= ActionButton('chown') ?>
      <?= ActionButton('setacl') ?>
     <?php }} ?>
     <?php if ($user->isAdmin() or mayAccessPage('remove', $page->getName())) { ?>
      <?= ActionButton('revert',_("Revert"), $revision->isCurrent() ? $page->GetRevisionBefore() : $revision) ?>
      <?= ActionButton('remove') ?>
     <?php } ?>
    <?php } ?>
    <?= ActionButton(array('action'=>'PageInfo'),
                        _("Info"),$page->getName()) ?>
    <?= ActionButton(_("PageHistory")) ?>
    <?= ActionButton("diff") ?> 
    <?= ActionButton(_("PageDump")) ?>
    <?php if (DEBUG & _DEBUG_SQL and USECACHE) {
      $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $page->getName());
      $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed.")); ?>
      <?= $PurgeCache ?>
    <?php } ?>
  </div>
  </ul>
</div>
