<?php // -*-php-*-
// rcs_id('$Id$');
?>
<div class="portlet" id="p-logo"><a class="wikilink" href="<?=WikiURL(HOME_PAGE)?>"><img src="<?= $WikiTheme->getImageURL('logo') ?>" id="logo-img" alt="<?=
fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>" /></a></div>
<div id="img-logo-right" />
