/*
  $Id: sidebar.css,v 1.8 2002-02-11 21:06:30 carstenklapp Exp $
*/
@import url("../../phpwiki.css");

#navbar {
    line-height: 150%;
    position: fixed;
    top:    10ex; /*6ex*/
    width: 11em;
    left:   1em;
}

body {
    margin-top: 1.5ex;
    margin-left: 13em;
}

#actionbar {
    line-height: 150%;
    position: fixed;
    top:   38ex; /*31.5ex*/
    width: 11em;
    left:   1em;
}

div#logo img {
    position: fixed;
    left: 1em;
    top:  1.5ex;
}

/* ie5 mac sometimes ignores the bottom position of classes so id is used instead. */
#xhtml-validator {
    position: fixed;
    left:   1em;
    bottom: 1ex;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
