/*
  $Id: sidebar.css,v 1.6 2002-02-08 07:48:22 carstenklapp Exp $
*/
@import url("../../phpwiki.css");

#navbar {
    line-height: 150%;
    position: absolute;
    top:    10ex; /*6ex*/
    width: 11em;
    left:   1em;
}

body {
    margin-left: 13em;
}

#actionbar {
    line-height: 150%;
    position: absolute;
    top:   38ex; /*31.5ex*/
    width: 11em;
    left:   1em;
}

/* ie5 mac allows html img align to override this.
 * This confuses OmniWeb too.
 */
#logo {
    position: absolute;
    left: 1em;
    top:  1ex;
}

/* ie5 mac sometimes ignores the bottom position of classes so id is used instead. */
#xhtml-validator {
    position: absolute;
    left:   1em;
    bottom: 1ex;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
