/*
  $Id: sidebar.css,v 1.4 2002-02-06 20:11:57 carstenklapp Exp $
*/
@import url("../../phpwiki.css");

#navbar {
    position: absolute;
    width: 9em;
    left:  1em;
    top:   4em;
    line-height: 1.4;
}

body {
    margin-left: 13em;
}

#actionbar {
    position: absolute;
    width: 9em;
    left:  1em;
    top:  13.4em;
    line-height: 1.4;
}

/* ie5 mac allows html img align to override this.
 * This confuses OmniWeb too.
 */
#logo {
    position: absolute;
    left: 1em;
    top:  1em;
}

/* ie5 mac sometimes ignores the bottom position of classes so id is used instead. */
#xhtml-validator {
    position: absolute;
    left:   1em;
    bottom: 1em;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
