<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="index,follow" />
<meta name="language" content="sv" />
<meta name="PHPWIKI_VERSION" content="###PHPWIKI_VERSION###" />
<link rel="shortcut icon" href="###DATA_PATH###/images/favicon.ico" />
<title>###SPLIT_PAGE###</title>
</head>

<body bgcolor="ivory" text="black" alink="red" link="darkblue" vlink="darkmagenta">
<h1><a href="###SCRIPTURL###"><img src="###LOGO###" border="0" alt="[phpwiki]" align="middle" width="50" height="50"></a>
<a href="###SCRIPTURL###?refs=###PAGEURL###">###SPLIT_PAGE###</a></h1>
###IF:ADMIN###
###IF LOCK###[<a href="###SCRIPTURL###?unlock=###PAGEURL###">Lås upp sida</a>]
###IF !LOCK###[<a href="###SCRIPTURL###?lock=###PAGEURL###">Lås sida</a>]
- - 
[<a href="###SCRIPTURL###?remove=###PAGEURL###">Ta bort sida</A>]
<hr noshade>
###ENDIF:ADMIN###
<p />
###CONTENT###
<hr noshade>
###IF ADMIN###<a href="###SCRIPTURL###?edit=###PAGEURL###">RedigeraText</a> på den här sidan
###IF:!ADMIN###
###IF LOCK###Sidan är låst
###IF !LOCK###<a href="###SCRIPTURL###?edit=###PAGEURL###">RedigeraText</a> på den här sidan
###ENDIF:!ADMIN###
(senast ändrad ###LASTMODIFIED###)
[<a href="###SCRIPTURL###?info=###PAGEURL###">info</a>]
[<a href="###SCRIPTURL###?diff=###PAGEURL###">diff</a>])
<br />
<a href="###SCRIPTURL###?SökEfterSida">SökEfterSida</a>
<hr noshade>
<small>###RELATEDPAGES###</small>

</body>
</html>
