/**
 * $Id: portland.css,v 1.6 2002-02-08 08:30:11 carstenklapp Exp $
 *
 * PhpWiki style sheet
 * Styles are kept to a minimum, so the printed page will otherwise
 * appear according to your browser's default font settings.
 */
body {
  color : black;
  background : white;
}

a {
  text-decoration : underline;
}
.rawurl {
  text-decoration : underline;
}

.wiki {
  text-decoration : underline;
  font-weight : normal;
}

img {
  border : 0 none;
}
.linkicon {
  visibility : hidden;
  width :  0;
  height : 0;
}

.wiki-edithelp {
  font-size : smaller;
}

.pagelist tr.evenrow {
  color : black;
  background : #eee;
}
.pagelist tr.oddrow {
  color : black;
  background : white;
}
