<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.32 2003-03-05 21:38:15 dairiki Exp $');
?>
<body>

<div id="header"><?php // for top-and-bottom toolbars style sheet ?>
  <?= Template('top') ?>
</div>
<?= $CONTENT ?>
<?= Template('bottom') ?>
</body>
