<?php // -*-php-*- ?>
<!-- $Id: actionbar.tmpl,v 1.4 2005-04-06 06:41:05 rurban Exp $ -->
<?php
if ((!$page->get('locked') || $user->isAdmin()) and isset($revision))
      $EditB = Button("edit",
                      $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"));
  else
      $EditB = Button("viewsource", _("View Source"));
$Sep = HTML::raw('<li>');
$dbh = $request->getDbh();
?>
<div id="p-cactions" class="portlet">
    <h5>Views</h5>
    <ul>
    <?= $EditB ?>
    <? if ( $user->isSignedIn() ) { ?>
     <?php if ($user->isAdmin() or mayAccessPage('change',$page->getName())) { ?>
      <?=$Sep?><?= Button($page->get('locked') ? 'unlock' : 'lock') ?>
      <?php if (ENABLE_PAGEPERM) { ?>
        <?=$Sep?><?= Button('chown') ?>
        <?=$Sep?><?= Button('setacl') ?>
     <?php }} ?>
     <?php if ($user->isAdmin() or mayAccessPage('remove',$page->getName())) { ?>
      <?=$Sep?><?= Button('remove') ?>
     <?php } ?>
    <?php } ?>
    <?php if (!string_ends_with($page->getName(), _("Discussion"))) { ?>
      <?=$Sep?><?= Button(array('action'=>$dbh->isWikiPage('Talk:'.$page->getName()) ? 'browse' : 'create', 
                              'template'=>'TemplateTalk'),
                        _("Discussion"),'Talk:'.$page->getName()) ?>
      <?php } else { ?>
      <?=$Sep?><?= Button(array(),_("Article"),$page->getName()) ?>
    <?php } ?>
    <?=$Sep?><?= Button(array('action'=>'PageInfo'),
                        _("Info"),$page->getName()) ?>
<?php if (((defined('DEBUG') and DEBUG and $request->getArg('action') == 'browse')) || $user->isAdmin()) { ?> 
      <!-- Buttons really only for debugging -->
      <?=$Sep?><?= Button(_("PageHistory")) ?>
      <?=$Sep?><?= Button("diff") ?> 
      <?=$Sep?><?= Button(_("PageDump")) ?>
<?php
     $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $page->getName());
     $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed."));
?>
    <?=$Sep?><?= $PurgeCache ?>
    <!-- End debugging buttons -->
    <?php } ?>
  </div>
