<?php // -*-php-*- ?>
<!-- $Id: actionbar.tmpl,v 1.9 2006-12-03 14:03:12 rurban Exp $ -->
<?php
  $dbh = $request->getDbh();
  $Sep = HTML::raw("<li>"); $SepE = HTML::raw("</li>");
?>
<div id="p-cactions" class="portlet">
    <h5>Views</h5>
    <ul>
    <?php if (!string_ends_with($page->getName(), _("Discussion"))) { ?>
    <?php 
	$talk = new WikiPageName('Talk:'.$page->getName());
        if ($dbh->isWikiPage($talk->getName())) { ?>
	  <li><?= Button(array('action'=>'browse'), _("Discussion"), $talk->getName()) ?></li>
        <?php } else { ?>
	  <li><?= Button(array('action'=>'create',
                              'template'=>'TemplateTalk'),
			  _("Discussion"), $talk->getName()) ?></li>
        <?php } ?>
    <?php } else { ?>
      <?php $talk = new WikiPageName($page->getName()); ?>
      <li><?= Button(array(),_("Article"), $talk->getParent()) ?></li>
    <?php } ?>
    <?php if ((!$page->get('locked') || $user->isAdmin()) and $revision) { ?>
      <li><?= Button("edit", $revision->isCurrent() ? _("Edit") : _("Edit Old Revision")) ?></li>
    <?php } else { ?>
      <li><?= Button("viewsource", _("View Source")) ?></li>
    <?php } ?>
    <li><?= Button(_("PageHistory")) ?></li>
    <li><?= Button("diff") ?> </li>
    <li><?= Button("WatchPage",_("Watch")) ?></li>
    </ul>
</div>
<div class="portlet" id="p-tbx">
  <h5>Special Actions</h5>
  <div class="pBody">
  <ul>
    <? if ( $user->isSignedIn() ) { ?>
     <?php if ($user->isAdmin() or mayAccessPage('change', $page->getName())) { ?>
      <li><?= Button($page->get('locked') ? 'unlock' : 'lock') ?></li>
     <?php if (ENABLE_PAGEPERM and mayAccessPage('change', $page->getName())) { ?>
      <li><?= Button('chown') ?></li>
      <li><?= Button('setacl') ?></li>
     <?php }} ?>
     <?php if ($user->isAdmin() or mayAccessPage('remove', $page->getName())) { ?>
      <li><?= Button('revert',_("Revert"), $revision->isCurrent() ? $page->GetRevisionBefore() : $revision) ?></li>
      <li><?= Button('remove') ?></li>
     <?php } ?>
    <?php } ?>
    <li><?= Button(array('action'=>'PageInfo'),
                        _("Info"),$page->getName()) ?></li>
    <li><?= Button(_("PageHistory")) ?></li>
    <li><?= Button("diff") ?></li> 
    <li><?= Button(_("PageDump")) ?></li>
    <?php if (DEBUG & _DEBUG_SQL and USECACHE) {
      $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $page->getName());
      $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed.")); ?>
      <li><?= $PurgeCache ?></li>
    <?php } ?>
  </div>
  </ul>
</div>
