<?php // -*-php-*- ?>
<!-- $Id: navbar.tmpl,v 1.4 2006-12-03 14:03:12 rurban Exp $ -->
<?php
// With MonoBook it is similar to Sidebar, named boxes at the left.
// navigation, search, toolbox
?>
<!-- The left navigation/search bar -->
<!-- Here you should add favorite Links and Categories -->
<div class="portlet" id="p-nav">
  <h5>Navigation</h5>
  <div class="pBody">
    <ul>
      <li id="n-mainpage"><?= WikiLink(HOME_PAGE) ?></li>
      <li id="t-recentchanges"><?= WikiLink(_("RecentChanges")) ?></li>
      <li id="t-recentcomments"><?= WikiLink(_("RecentComments")) ?></li>
      <li id="n-randompage"><?= WikiLink(_("RandomPage")) ?></li>
      <li id="n-help"><a href="http://www.phpwiki.org/PhpWikiDocumentation">Help</a></li>
    </ul>
  </div>
</div>
<div id="p-search" class="portlet">
  <h5>Search</h5>
  <div class="pBody">
    <form action="<?= WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="<?=$charset?>">
      <?= WikiLink(_("FindPage"), "searchButton",_("Search:")) ?>
      <input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12" maxlength="256"
	      title='<?=_("Quick Search")?>'
	      onmouseover="window.status='<?=_("Quick Search")?>'; return true;"
	      onmouseout="window.status=''; return true;" />
    </form>
  </div>
</div>
<div class="portlet" id="p-tb">
  <h5>Toolbox</h5>
  <div class="pBody">
    <ul>
    <?php if (!empty($revision)) { ?>
      <li id="t-whatlinkshere"><?= Button(array('action'=>'BackLinks'), _("What links here"), $page->getName()) ?></li>
      <li id="t-whatlinkshere"><?= Button(array('action'=>'LikePages'),_("Like Pages"), $page->getName()) ?></li>
    <?php } ?>
    <?php $links = $page->getPageLinks(); if ($links->count() > 1) { ?>
      <li id="t-recentchangeslinked"><?= $WikiTheme->makeLinkButton($revision,_("RelatedChanges"),_("RelatedChanges")) ?></li>
    <?php } ?> 
    <li><?= Button(array('page' => $page->getName()),_("Upload file"),_("UpLoad"),'wikiunsafe') ?></li>
    <?php if (!empty($user) && $user->isAdmin()) { ?>
      <li><?= WikiLink(_("PhpWikiAdministration"), "","Administration") ?></li>
    <?php } ?>
    <?php if (!empty($user) && $user->isSignedIn()) { ?>
      <li><?= WikiLink(_("UserPreferences"),"","Preferences") ?></li>
    <?php } ?>
    <li>
      <?php $PrintableLink = $WikiTheme->makeButton(_("Printable version"), "javascript:PrinterStylesheet();", 'wikiaction'); ?>
<script type="text/javascript"><!--
// This script was provided for free by
// http://www.howtocreate.co.uk/tutorials/javascript/domcss
// See http://www.howtocreate.co.uk/jslibs/termsOfUse.html
function getAllSheets() {
  if( !window.ScriptEngine && navigator.__ice_version ) { return document.styleSheets; }
  if( document.getElementsByTagName ) { var Lt = document.getElementsByTagName('link'), St = document.getElementsByTagName('style');
  } else if( document.styleSheets && document.all ) { var Lt = document.all.tags('LINK'), St = document.all.tags('STYLE');
  } else { return []; } for( var x = 0, os = []; Lt[x]; x++ ) {
    var rel = Lt[x].rel ? Lt[x].rel : Lt[x].getAttribute ? Lt[x].getAttribute('rel') : '';
    if( typeof( rel ) == 'string' && rel.toLowerCase().indexOf('style') + 1 ) { os[os.length] = Lt[x]; }
  } for( var x = 0; St[x]; x++ ) { os[os.length] = St[x]; } return os;
}
function changeStyle() {
  for( var x = 0, ss = getAllSheets(); ss[x]; x++ ) {
    if( ss[x].title ) { ss[x].disabled = true; }
    for( var y = 0; y < arguments.length; y++ ) {
     if( ss[x].title == arguments[y] ) { ss[x].disabled = false; }
} } }
function PrinterStylesheet() {
  changeStyle('Printer');
}
document.write('<?= $PrintableLink ?>'); // -->
</script>
<noscript>
  <?= $WikiTheme->makeButton(_("Printable version"), "?format=printable", 'wikiaction') ?>
</noscript>
</li>
    <?php if (defined('USE_EXTERNAL_HTML2PDF') and USE_EXTERNAL_HTML2PDF) { 
      // Do not display the pdf icon
      $btn = new Button(_("Display as Pdf"), WikiURL($page->getName(), array('action' => 'pdf')), 'wikiaction');
      ?>
      <li><?= $btn ?></li>
    <?php } ?>
  </ul>
  </div>
</div>
<!-- end of the left (by default at least) column -->

