<body <?php echo $WikiTheme->getMoreAttr('body') ?> >

<header role="banner">
<!-- Page title -->
<h1 id="header"><?php echo $HEADER ?></h1>
</header>
<main role="main">
<!-- Page title and logo -->
<?php echo $CONTENT ?>
</main>
<?php echo Template('navbar') ?>
<!-- RELATEDPAGES were here. -->

<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>

<?php echo Template('bottom') ?>

</body>
