<?php // -*-html-*- ?>
<!-- $Id: body.tmpl,v 1.3 2002-01-18 06:26:18 carstenklapp Exp $ -->
<body>

<!-- The logo -->
<div><a class="wikilink" 
        href="<?=WikiURL(_("HomePage"))?>"
        ><img src="<?=$Theme->getImageURL('logo')?>"
              border="0" alt="<?=$WIKI_NAME?>: <?=_("HomePage")?>" 
              align="right" /></a></div>

<!-- The top navigation/search bar -->
<form action="<?php echo WikiURL(_("TitleSearch"));?>"
      method="get" accept-charset="<?=CHARSET?>">
  <div class="toolbar"><? $s = $Theme->buttonSep ?>
    <?= $ButtonFactory->makeLinkButton(_("RecentChanges")) ?>
   <?=$s?><?= $ButtonFactory->makeLinkButton(_("FindPage")) ?>
   <?=$s?><input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12"
             title='<?=_("Quick Search")?>'
             onmouseover="window.status='<?=_("Quick Search")?>'; return true;"
             onmouseout="window.status=''; return true;" />
    <?php if (!empty($PAGE)) { ?>
     <?=$s?><?= $ButtonFactory->makeActionPageButton(_("LikePages")) ?>
     <?=$s?><?= $ButtonFactory->makeActionPageButton(_("BackLinks")) ?>
    <?php } ?>
    <?php if ($user->is_admin()) { ?>
     <?=$s?><?= $ButtonFactory->makeLinkButton(_("PhpWikiAdministration")) ?>
    <?php } ?>

  </div>
</form>

<!-- Page title -->
<h1><?=$HEADER?></h1>

<?= $CONTENT ?>

<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
</body>
