<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.34 2004-06-14 11:26:52 rurban Exp $');
?>
<body<?= $WikiTheme->getMoreAttr('body') ?>>

<div id="header"><?php // for top-and-bottom toolbars style sheet ?>
  <?= Template('top') ?>
</div>
<?= $CONTENT ?>
<?= Template('bottom') ?>
</body>
