<?php // -*-html-*-
  rcs_id('$Id: bottom.tmpl,v 1.7 2007-07-14 12:06:07 rurban Exp $');
?>
<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?= empty($WARNINGS) ? '' : $WARNINGS ?>
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (defined('DEBUG') and DEBUG & 1) { ?><?= Template('debug') ?><?php } ?>
<?php } ?>
