<?php // -*-html-*- ?>
<!-- $Id: browse.tmpl,v 1.18 2002-02-10 20:32:24 carstenklapp Exp $ -->

<?php if (! $revision->isCurrent()) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= Button('browse', _("View the current version"), $page)?>.
  </p>
<?php } ?>

<div class="wikitext"><?=$CONTENT?></div>

<div id="actionbar">
<p class="editdate"><?= $Theme->getLastModifiedMessage($revision) ?></p>
<hr class="toolbar" noshade="noshade" />
<?= Template('actionbar') ?>
<!-- RELATEDPAGES were here. -->
</div>
