<?php // -*-html-*- ?>
<!-- $Id: browse.tmpl,v 1.13 2002-02-01 18:06:23 carstenklapp Exp $ -->
<?php 
  $mtime = $Theme->formatDateTime($revision->get('mtime'));

  if ($revision->isCurrent())
      $LastModifiedMsg = fmt("Last edited on %s.", $mtime);
  else
      $LastModifiedMsg = fmt("Version %s, saved on %s.",
                             $revision->getVersion(), $mtime);
?>

<div class="br"><br clear="all" class="ignore" /></div>

<?php if (! $revision->isCurrent()) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= Button('browse', _("View the current version"), $page)?>.
  </p>
  <hr class="ignore" noshade="noshade" />
<?php } ?>

<div class="wikitext"><?=$CONTENT?></div>
<hr class="ignore" noshade="noshade" />

<p><?= $LastModifiedMsg ?></p>
<div id="actionbar">
<hr class="toolbar" noshade="noshade" />
<?= Template('actionbar') ?>
<!-- RELATEDPAGES were here. -->
</div>