<?php // -*-php-*-
// rcs_id('$Id$');
?>
<hr class="printer" />
<p class="editdate"><?= $WikiTheme->getOwnerMessage($page) ?>  <?= $WikiTheme->getLastModifiedMessage($revision) ?> <?= $WikiTheme->getAuthorMessage($revision) ?></p>
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<hr class="toolbar" />
<div class="toolbar">
<?= Template('actionbar') ?>
</div>
<?php } ?>
