<?php // -*-html-*- ?>
<!-- $Id: login.tmpl,v 1.5 2002-01-23 20:18:21 dairiki Exp $ -->
<!-- The login form -->

<?php if ($fail_message) { ?>
  <p><strong><?=$fail_message?></strong></p>
  <hr noshade="noshade" />
<?php } ?>

<?php if (ALLOW_BOGO_LOGIN && $require_level <= WIKIAUTH_BOGO) { ?>
  <p>You may sign in using any WikiWord as a user id. You do not need to enter a password.   Yadda, yadda. (FIXME:)</p>
<?php } ?>

<form method="post" action="<?=BASE_URL?>" accept-charset="<?=CHARSET?>" name="login">

<table cellspacing="4">
<tr>
  <td align="right">UserId:</td>
  <td><input type="text" name="auth[userid]" size="12" value="<?=$userid?>" /></td>
</tr>
<tr>
  <td align="right">Password:</td>
  <td><input type="password" name="auth[password]" size="12" /></td>
</tr>
<tr><td align="center" colspan="2">
  <?=$Theme->makeButton(_("Sign In"), "submit:", "wikiaction")?>
  <?php if (!$require_level) { ?>
    <?=$Theme->makeButton(_("Cancel"), "submit:auth[cancel]", "wikiaction")?>
  <?php } ?>
</td></tr>
</table>

<input type="hidden" name="auth[require_level]" value="<?=$require_level?>" />
<input type="hidden" name="auth[login]" value="1" />
<?php foreach ($query_args as $key => $val) { ?>
  <input type="hidden" name="<?=$key?>" value="<?=$val?>" />
<?php } ?>
</form>

<script language="JavaScript" type="text/javascript">
<!-- // Really there's got to be a simpler way to do this....
function select_input (type) {
    var elements = document.forms['login'].elements;
    for (var i = 0; i < elements.length; i++) {
        if (elements[i].type == type) {
            elements[i].select();
            return;
        }
    }
}
select_input('<?= $userid ? "password" : "text" ?>');
//-->
</script>

