<!-- -*-html-*- -->
<!-- $Id: savepage.tmpl,v 1.2 2002-01-22 03:17:47 dairiki Exp $ -->
<?php
  $signatureURL = $Theme->getImageURL('signature');
?>

<p>
  <?=fmt("Thank you for editing %s.",
         LinkExistingWikiWord($page->getName()))?>
  <br />
  <?=_("Your careful attention to detail is much appreciated.")?>
</p>

<?php if (!empty($WARNINGS)) { ?>
  <p><strong><?=_("Warning!")?></strong> <?= $WARNINGS ?></p>
<?php } ?>

<?php if ($signatureURL) { ?>
   <p><img src="<?=$signatureURL?>" /></p>
<?php } ?>
    
<hr noshade />

<?= new WikiTemplate('browse') ?>
