<?php // -*-php-*-
// rcs_id('$Id$');
?>
<?php
    $signatureURL = $WikiTheme->getImageURL('signature');
?>
<p><?=fmt("Thank you for editing %s.", WikiLink($page))?> 
<?=_("Your careful attention to detail is much appreciated.")?></p>

<?php if (!empty($WARNINGS)) { ?>
  <?= $WARNINGS ?>
<?php } ?>

<?php if ($signatureURL) { ?>
  <p><img src="<?=$signatureURL?>" id="signature" alt="signature" /></p>
<?php } ?>

<?php if (!empty($LOCK_CHANGED_MSG)) { ?>
  <p><?=$LOCK_CHANGED_MSG?></p>
<?php } ?>

<hr />
<?= Template('browse') ?>
