<?php // -*-html-*- ?>
<!-- $Id: signin.tmpl,v 1.5 2002-01-22 08:28:36 carstenklapp Exp $ -->
<?php

     $Sep = $Theme->getButtonSeparator();
     $SignOutB = $Theme->makeButton(_("SignOut"), "javascript:SignOut();", 'wikiaction');

     if (empty($FORMNAME))
         $FORMNAME = 'signin';
     else
         $NOFORM = true;
?>

<?php if (empty($NOFORM)) { ?>
  <form method="post" action="<?=BASE_URL?>" accept-charset="<?=CHARSET?>" name="<?=$FORMNAME?>">

  <?php foreach ($query_args as $key => $val) { ?>
    <input type="hidden" name="<?=$key?>" value="<?=$val?>" />
  <?php } ?>
<?php } ?>

<table summary="Toolbar: login / logout." class="toolbar"
       cellpadding="0" cellspacing="0" border="0"><tr valign="middle">

<?php if ($user->isSignedIn()) {  ?>
  <td>
    <?= fmt("You are signed in as %s", LinkWikiWord($user->getId())) ?>
    <?=$Sep?></td>
  <td>
    &nbsp;
    <script language="JavaScript" type="text/javascript"><!--
      document.write('<input type="hidden" name="login[logout]" value="0" />');
      function SignOut() { 
        document.forms["<?=$FORMNAME?>"].elements["login[logout]"].value = 1;
        document.forms["<?=$FORMNAME?>"].submit();
      }
      document.write('<?=$SignOutB?>'); // -->
    </script>
    <noscript>
      <input type="submit" name="login[logout]" value="<?=_("SignOut")?>" />
    </noscript>
  </td>
<?php } else { ?>
  <td>
    <script language="JavaScript" type="text/javascript"><!--
      document.write("<?=_("Sign In")?> ");
    // --></script>
  </td>
  <td>
  <?php $SignIn = HTML::input(array('type' => 'text',
                                    'name' => "login[userid]",
                                    'size' => 12,
                                    'onchange' => "this.form.submit();"));
        $SignIn->addTooltip(_("SignIn")) ?>
  <?= $SignIn ?>
  <noscript>
    <input type="submit" name="login[login]" value="<?=_("SignIn")?>" />
  </noscript>
  </td>
  <td>
<?php } ?>
</tr></table>
<?php if (empty($NOFORM)) { ?>
  </form>
<?php } ?>
