<?php // -*-html-*- ?>
<!-- $Id: userprefs.tmpl,v 1.4 2002-02-02 00:05:19 carstenklapp Exp $ -->
<form action="<?=WikiURL($page)?>" method="post">
  <input type="hidden" name="pagename" value="<?=$request->getArg('pagename')?>" />
  <blockquote>
  <table>
    <tr>
      <td colspan="2"><h2><?=_("Edit Area Size")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Height")?></td>
      <td>
        <input type="text" name="pref[editHeight]" size="4"
               value="<?=$request->getPref('editHeight')?>" />
      </td>
    </tr>
    <tr>
      <td align="right"><?=_("Width")?></td>
      <td>
        <input type="text" name="pref[editWidth]" size="4"
               value="<?=$request->getPref('editWidth')?>" />
      </td>
    </tr>

    <tr>
      <td colspan="2"><h2><?=_("Time Zone")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Server time:")?></td>
      <td><?= Rfc2822DateTime() ?></td>
    </tr><tr>
      <td align="right"><?=_("Your time:")?></td>
      <td>
        <select name="pref[timeOffset]">
          <option value="+12">GMT+12</option>
          <option value="+11">GMT+11</option>
          <option value="+10">GMT+10</option>
          <option value="+9">GMT+9</option>
          <option value="+8">GMT+8</option>
          <option value="+7">GMT+7</option>
          <option value="+6">GMT+6</option>
          <option value="+5">GMT+5</option>
          <option value="+4">GMT+4</option>
          <option value="+3">GMT+3</option>
          <option value="+2">GMT+2</option>
          <option value="+1">GMT+1</option>
          <option value="0">GMT</option>
          <option value="-1">GMT-1</option>
          <option value="-2">GMT-2</option>
          <option value="-3">GMT-3</option>
          <option value="-4">GMT-4</option>
          <option value="-5">GMT-5</option>
          <option value="-6">GMT-6</option>
          <option value="-7">GMT-7</option>
          <option value="-8">GMT-8</option>
          <option value="-9">GMT-9</option>
          <option value="-10">GMT-10</option>
          <option value="-11">GMT-11</option>
          <option value="-12">GMT-12</option>
          <option value="-13">GMT-13</option>
          <option value="-14">GMT-14</option>
        </select>
(unimplemented)
      </td>
    </tr>
  </table>
  </blockquote>
  <hr />
  <?=Button("submit:", _("Update Preferences"))?>
</form>
