<?php // -*-html-*-

$serverzone = intval( array_pop(explode(" ", Rfc2822DateTime())));
$PreftimeOffset = $request->getPref('timeOffset');
$select = HTML();

for ($z = -14; $z < 12; $z++) {
    // would prefer to actually have the string formatted like: "GMT+0430"
    if ($PreftimeOffset)
        $selected = $PreftimeOffset == intval(sprintf("%s00", $z)) ? array('selected' => 'selected') : array();
    else
        $selected = $serverzone == intval(sprintf("%s00", $z)) ? array('selected' => 'selected') : array();

    $select->pushContent(HTML::option(
                         array_merge(array('value' => sprintf("%s00", $z)),
                                     $selected),
                         sprintf("GMT%s00",$z)
                         ));

    $selected = $serverzone == intval(sprintf("%s30", $z)) ? array('selected' => 'selected') : array();

    $select->pushContent(HTML::option(
                         array_merge(array('value' => sprintf("%s30", $z - 1)),
                                     $selected),
                         sprintf("GMT%s30", $z - 1)
                         ));
}
$TimeZoneSelect = HTML::select(array('name' => "pref[timeOffset]"), $select);

?>
<!-- $Id: userprefs.tmpl,v 1.7 2002-02-02 10:36:37 carstenklapp Exp $ -->
<form action="<?=WikiURL($page)?>" method="post">
  <input type="hidden" name="pagename" value="<?=$request->getArg('pagename')?>" />
  <blockquote>
  <table>
    <tr>
      <td colspan="2"><h2><?=_("Edit Area Size")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Height")?></td>
      <td>
        <input type="text" name="pref[editHeight]" size="4"
               value="<?=$request->getPref('editHeight')?>" />
      </td>
    </tr>
    <tr>
      <td align="right"><?=_("Width")?></td>
      <td>
        <input type="text" name="pref[editWidth]" size="4"
               value="<?=$request->getPref('editWidth')?>" />
      </td>
    </tr>

    <tr>
      <td colspan="2"><h2><?=_("Time Zone")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Server time:")?></td>
      <td><?= Rfc2822DateTime() ?></td>
    </tr><tr>
      <td align="right"><?=_("Your time:")?></td>
      <td>
        <?= $TimeZoneSelect ?> (unimplemented)
      </td>
    </tr>
  </table>
  </blockquote>
  <hr />
  <?=Button("submit:", _("Update Preferences"))?>
</form>
