<body <?php echo $WikiTheme->getMoreAttr('body') ?> >
      <header role="banner">
      <h1 id="header"><?php echo $HEADER ?></h1>
      </header>
      <main role="main">
      <?php echo $CONTENT ?>
      </main>
      <?php echo Template('navbar') ?>
      <?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
    <?php echo Template('bottom') ?>
</body>
