<html>
<head><title>###PAGE###</title>
</head>

<body bgcolor=ivory text=black alink=red link=darkblue vlink=darkmagenta>
<table cellpadding=2>
<tr><td bgcolor=black><a href="###SCRIPTURL###"><img src="wikibase.png" border=0></a></td>
<td><h1><a href="###SCRIPTURL###?full=###PAGEURL###">###PAGE###</a></h1>
</td></tr></table>
<P>
###CONTENT###

<hr noshade>
<a href="###SCRIPTURL###?edit=###PAGEURL###">EditText</a>
 of this page (last edited ###LASTMODIFIED###
[<a href="###SCRIPTURL###?info=###PAGEURL###">more info</a>])
<br>
<a href="###SCRIPTURL###?FindPage">FindPage</a> by browsing or searching
</body>
</html>
