<?php // -*-php-*-
// rcs_id('$Id$');
?>
<div class="portlet" id="p-logo"><a class="wikilink" href="<?=WikiURL(HOME_PAGE)?>" title="Visit the Home Page [<?= $WikiTheme->tooltipAccessKeyPrefix() ?>-z]" accesskey="z"><span class="logo"><?= WIKI_NAME ?></span></a></div>
<img id="img-logo-right" src="<?= $WikiTheme->_findData('images/wiki_stamp.png')?>" alt="This is a WIKI! Edit every page" align="right" height="86" width="86" />
