<?php // -*-html-*- ?>
<!-- $Id: navbar.tmpl,v 1.2 2002-02-02 07:24:50 carstenklapp Exp $ -->
<?php $old = $Theme->getButtonSeparator();
      $Theme->setButtonSeparator(HTML::br()); ?>

<?= Template('default-navbar') ?>

<?php $Theme->setButtonSeparator($old); ?>