<?php echo "<?xml version='1.0' encoding='${CHARSET}'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- phpwiki source:
$Id: browse.html,v 1.42 2002-01-10 22:32:29 carstenklapp Exp $
${RCS_IDS}
-->
<meta name="keywords" content="${SPLIT_PAGE}, ${WIKI_NAME}" />
<?php if (!empty($PAGE_DESCRIPTION)) { ?>
  <meta name="description" content="${PAGE_DESCRIPTION}" />
<?php } ?>
<meta http-equiv="Content-Type" content="text/html; charset=${CHARSET}" />
<!-- <meta name="robots" content="index,follow" /> -->
<base href="${BASE_URL}" />
${CSS}
<title>${WIKI_NAME}: ${SPLIT_PAGE}</title>

<!--
-->
</head>
<body>
${EDIT_FAIL_MESSAGES}${THANK_YOU}<div>${LOGO}</div>
<h1><?plugin-link BackLinks page="[pagename]" class="backlinks" linktext="${SPLIT_PAGE}" ?></h1>
<div class="br"><br clear="all" class="ignore" /></div>
${VIEW_WARNINGS}
<div class="wikitext">${CONTENT}</div>
<hr class="ignore" noshade="noshade" />
${LASTMODIFIED}
<hr noshade="noshade" class="toolbar" />
<!-- I would like not to have to use these tables, and managed to
     get this stuff to work more or less correctly using
     CSSs float:left; and float:right;.  However float:right; seems
     to cause MSIE4.01/NT to hang. 
     So, we use tables...  -->
<table summary="Toolbar 1: Page actions and search for pages." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"><tr valign="baseline">
  <td>
    <?php if ($page->get('locked') && !$user->is_admin()) { ?>
      $_("Page locked")
    <?php } else { ?>
      <?php if ($IS_CURRENT) { ?>
        <a class="wikiaction" href="${ACTION}edit">$_("Edit")</a>
      <?php } else { ?>
        <a class="wikiaction" href="${ACTION}edit&amp;version=${VERSION}"
          >$_("Edit old revision")</a>
      <?php } ?>
    <?php } ?>
    <?php if ($user->is_admin()) { ?>
      <?php if ($page->get('locked')) { ?>
        | <a class="wikiadmin" href="${ACTION}unlock">$_("Unlock page")</a>
      <?php } else { ?>
        | <a class="wikiadmin" href="${ACTION}lock">$_("Lock page")</a>
      <?php } ?>
      | <a class="wikiadmin" href="${ACTION}remove">$_("Remove page")</a>
    <?php } ?>
    | <?plugin-link PageHistory page="[pagename]" ?>
    <?php if ($IS_CURRENT) { ?>
      | <a class="wikiaction" href="${ACTION}diff&amp;previous=major">$_("Diff")</a>
    <?php } else { ?>
      | <a class="wikiaction" 
           href="${ACTION}diff&amp;version=${VERSION}&amp;previous=major">$_("Diff")</a>
    <?php } ?>
  </td>
  <td align="right">${SEARCH}</td>
</tr></table>
<table summary="Toolbar 2: Sign in." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"><tr valign="baseline">
  <td>${SIGNIN}</td>
  <td align="right"></td>
</tr></table>

<?php /*
<hr class="ignore" noshade="noshade" />
<small>${RELATEDPAGES}</small>
*/ ?>
<?php // FIXME:hack
ob_start();
global $ErrorManager;
$ErrorManager->flushPostponedErrors();
$errmsgs = ob_get_contents();
ob_end_clean();
if ($errmsgs)
    echo Element('div', array('class' => 'errors'),
                 QElement('h4', _("PHP Warnings"))
		 . $errmsgs);
?>
<table summary="For debugging only, really." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"><tr><td>
  <?plugin-link _BackendInfo 
                linktext=_("DebugInfo")
                targetpage=_("DebugInfo")
                page=[pagename] ?>
 | 
  <?plugin-link ViewMarkup 
                linktext=_("ViewMarkup")
                targetpage=_("ViewMarkup")
                page=[pagename] ?>
</td><tr></table>
</form>
</body>
</html>
