<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>###PAGE###</title>
</head>

<body bgcolor=ivory text=black alink=red link=darkblue vlink=darkmagenta>
<h1><a href="###SCRIPTURL###"><img src="###LOGO###" border=0 alt="[phpwiki]" align=middle width=50 height=50></a>
<a href="###SCRIPTURL###?full=###PAGEURL###">###PAGE###</a></h1>
<P>
###CONTENT###
<hr noshade>
<a href="###SCRIPTURL###?edit=###PAGEURL###">EditText</a>
 of this page (last edited ###LASTMODIFIED###)
[<a href="###SCRIPTURL###?info=###PAGEURL###">info</a>]
[<a href="###SCRIPTURL###?diff=###PAGEURL###">diff</a>])
<br>
<a href="###SCRIPTURL###?FindPage">FindPage</a> by browsing or searching
<hr noshade>
<small>###RELATEDPAGES###</small>

</body>
</html>
