<?php echo "<?xml version='1.0' encoding='${CHARSET}'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- phpwiki source:
$Id: message.html,v 1.24 2002-01-15 16:44:19 dairiki Exp $
${RCS_IDS}
-->
<meta http-equiv="Content-Type" content="text/html; charset=${CHARSET}" />
<meta name="robots" content="noindex,nofollow" />
<base href="${BASE_URL}" />
<link rel="shortcut icon" href="favicon.ico" />
${CSS}
<title>${WIKI_NAME}: ${TITLE}</title>
</head>
<body>
<div>${LOGO}</div>
<h1><?plugin-link BackLinks page="[pagename]" class="backlinks" linktext="${SPLIT_PAGE}" ?></h1>
${CONTENT}
<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML(); ?>
</body>
</html>
