<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.3 2004-06-18 08:40:39 rurban Exp $');
?>
<body<?= $WikiTheme->getMoreAttr('body') ?>>
<div id="header"><?php // for top toolbars style sheet ?>
  <?= Template('top') ?>
</div>
<div class="toolbar"><?= Template('navbar') ?></div>
<!-- Page content -->
<div id="contenu">
<?php if (isset($HEADER)) { ?>
<!-- Page title -->
<h1><?= $HEADER ?></h1>
<?php } ?>
<?= $CONTENT ?>
<?= Template('bottom') ?>
</div>
<!-- Actionbar -->
<?= Template('actionbar') ?>
</body>
