<body <?php echo $WikiTheme->getMoreAttr('body') ?> >
      <header role="banner">
      <div id="header">
      <?php echo Template('top') ?>
      </div>
      </header>
      <div class="toolbar">
      <?php echo Template('navbar') ?>
      </div>
      <div id="content">
      <?php if (isset($HEADER)) { ?>
      <h1><?php echo $HEADER ?></h1>
      <?php } ?>
      <main role="main">
      <?php echo $CONTENT ?>
      </main>
    <?php echo Template('bottom') ?>
    </div>
    <?php if (isset($revision)) { ?>
      <?php echo Template('actionbar') ?>
    <?php } ?>
</body>
