<?php // -*-html-*- ?>
<!-- $Id: browse.tmpl,v 1.1 2004-05-12 19:42:16 rurban Exp $ -->

<?php if (! $revision->isCurrent()) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= Button('browse', _("View the current version"), $page)?>.
  </p>
<?php } ?>
<?php if (!empty($redirected)) { ?>
  <p><?= $redirected ?></p>
<?php } ?>
<?=$CONTENT?>


<div id="revision">
<p class="editdate"><?= $Theme->getLastModifiedMessage($revision) ?></p>
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
</div>


<?php } ?>
