<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<!-- phpwiki source:
###RCS_IDS###
-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
###ROBOTS_META###
<base href="###BASE_URL###">
<title>Edit: ###SPLIT_PAGE###</title>
<link rel="stylesheet" title="phpwiki" href="###CSS_URL###" type="text/css">
</head>

<body bgcolor=ivory text=black alink=red link=darkblue vlink=darkmagenta>
<form class="wikiaction" method="POST" action="###BROWSE_PAGE###">
<h1><a class="wikilink" href="###BROWSE###PáginaPrincipal"><img src="###LOGO###" border=0 alt="[phpwiki]" width=50 height=50></a>
Editar <span="wikiword">###PAGE###</span>
<input type="submit" value=" Save "></h1>

<textarea name="content"
          rows="###EDIT_AREA_HEIGHT###"
          cols="###EDIT_AREA_WIDTH###"
          wrap="virtual">###CONTENT###</textarea>
<br>
###IF:MINOR_EDIT_CHECKBOX###
  ###MINOR_EDIT_CHECKBOX### Esto es un cambio pequeño, no archiva la versión anterior.
  <br>
###ENDIF:MINOR_EDIT_CHECKBOX###
<input type="checkbox" name="convert" value="tabs" >
No puedo escribir tabulaciones.
Por favor <a class="wikilink" href="###BROWSE###ConvierteEspaciosEnTabs"><span class="wikiword">ConvierteEspaciosEnTabs</span></a>
al guardar.
<p>You can change the size of the editing area.
See <a class="wikilink" href="###BROWSE###UserPreferences"><span class="wikiword">UserPreferences</span></a>.</p>
<p><a class="wikilink" href="###BROWSE###BuenEstilo"><span class="wikiword">BuenEstilo</span></a> tips para editar.</p>

###IF COPY###<br><a class="wikiaction" href="###ACTION###edit&amp;version=archive">EditarCopia</a> De un autor previo

  <hr noshade>
  <small> <b>&Eacute;nfasis:</b> '' para it&aacute;licas, __ para bold, ''__ 
  para ambos <br>
  <b>Listas:</b> * para listas de balazos, # para listas numeradas, ''; term : definición'' 
  para listas de definiciones <br>
  <b>Referencias:</b> UnirPalabrasEnMay&uacute;sculas o usar corchetes para una 
  [enlace hacia una p&aacute;gina] o URL [http://cool.wiki.int/]. <br>
  <b>Anotaciones:</b> Use [1],[2],[3],...<br>
  <b>Preveción enlazar:</b> Evite hacer enlaces 
  con "!": !NoHiperEnlaces. Enlaces con nombres como [[text | URL] (doble "[")<br>
  <b>Varios:</b>"!", "!!", "!!!" para hacer t&iacute;tulos,
  "%%%" hace un salto de l&iacute;nea, "- - - -" Hace una linea horizontal<br>
  M&aacute;s en <a href="###BROWSE###ReglasDeFormatoDeTexto"><b>ReglasDeFormatoDeTexto</b></a> 
  </small> 

<input type="hidden" name="action" value="save">
<input type="hidden" name="pagename" value="###PAGE###">
<input type="hidden" name="editversion" value="###VERSION###">
</form>
</body>
</html>
