<?php echo "<?xml version='1.0' encoding='$CHARSET'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- phpwiki source:
$Id: browse.html,v 1.15 2002-01-16 03:30:14 carstenklapp Exp $
${RCS_IDS}
-->
<meta http-equiv="Content-Type" content="text/html; charset=${CHARSET}" />
<!-- <meta name="robots" content="index,follow" /> -->
<meta name="keywords" content="${SPLIT_PAGE}, ${WIKI_NAME}" />
<?php if (!empty($PAGE_DESCRIPTION)) { ?>
  <meta name="description" content="${PAGE_DESCRIPTION}" />
<?php } ?>
<base href="${BASE_URL}" />
<link rel="shortcut icon" href="favicon.ico" />
${CSS}
<title>${WIKI_NAME}: ${SPLIT_PAGE}</title>

<!--
-->
</head>
<?php
  if ($IS_CURRENT)
      $LastModifiedMsg = sprintf(_("Last edited on %s."), $LASTMODIFIED);
  else
      $LastModifiedMsg = __sprintf("Version %s, saved on %s.",
                                   $VERSION, $LASTMODIFIED);
?>
<body background="themes/MacOSX/bgpaper8.png">

<div><a class="wikilink" 
        href="${BROWSE}$_("HomePage")"
        ><img src="${LOGO}"
              border="0" alt="${WIKI_NAME}: $_("HomePage")" 
              align="right" /></a></div>
<h1><?plugin-link BackLinks page="[pagename]" class="backlinks" linktext="${SPLIT_PAGE}" ?></h1>

<div class="br"><br clear="all" class="ignore" /></div>

${SAVEPAGE_MESSAGES} <!-- FIXME: I don't like this -->

<?php if (! $IS_CURRENT) { ?>
  <p><strong>$_("Note:")</strong> $_("You are viewing an old revision of this page.")
     <a href="${BROWSE}${PAGEURL}">$_("View the current version")</a>.</p>
  <hr class="ignore" noshade="noshade" />
<?php } ?>

<div class="wikitext">${CONTENT}</div>
<hr class="ignore" noshade="noshade" />

<p>${LastModifiedMsg}</p>

<hr noshade="noshade" class="toolbar" />
<!-- I would like not to have to use these tables, and managed to
     get this stuff to work more or less correctly using
     CSSs float:left; and float:right;.  However float:right; seems
     to cause MSIE4.01/NT to hang. 
     So, we use tables...  -->
<form action="<?php echo WikiURL(_("TitleSearch"));?>"
      method="get" accept-charset="${CHARSET}">
<table summary="Toolbar 1: Page actions and search for pages."
       class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
    <?php if ($page->get('locked') && !$user->is_admin()) { ?>
        <img border="0" alt="Edit" src="themes/MacOSX/PageLocked.png" /> <a class="wikiaction" href="${ACTION}edit"><img border="0" alt="Edit" src="themes/MacOSX/locale/en/buttons/ViewSource.png" /></a>
    <?php } else { ?>
      <?php if ($IS_CURRENT) { ?>
        <a class="wikiaction" href="${ACTION}edit"><img border="0" alt="Edit" src="themes/MacOSX/locale/en/buttons/Edit.png" /></a>
      <?php } else { ?>
        <a class="wikiaction" href="${ACTION}edit&amp;version=${VERSION}"
          ><img border="0" alt="EditOldRevision" src="themes/MacOSX/locale/en/buttons/EditOldRevision.png" /></a>
      <?php } ?>
    <?php } ?>
    <?php if ($user->is_admin()) { ?>
      <?php if ($page->get('locked')) { ?>
        <a class="wikiadmin" href="${ACTION}unlock"><img border="0" alt="UnlockPage" src="themes/MacOSX/UnlockPage.png" /></a>
      <?php } else { ?>
       <a class="wikiadmin" href="${ACTION}lock"><img border="0" alt="LockPage" src="themes/MacOSX/LockPage.png" /></a>
      <?php } ?>
      <a class="wikiadmin" href="${ACTION}remove"><img border="0" alt="RemovePage" src="themes/MacOSX/locale/en/buttons/RemovePage.png" /></a>
    <?php } ?>
    <a class="wikiaction" href="${BROWSE}PageHistory?page=${PAGE}"><img border="0" alt="LikePages" src="themes/MacOSX/locale/en/buttons/PageHistory.png" /></a>
    <?php if ($IS_CURRENT) { ?>
      <a class="wikiaction" href="${ACTION}diff&amp;previous=major"><img border="0" alt="Diff" src="themes/MacOSX/locale/en/buttons/Diff.png" /></a>
    <?php } else { ?>
      <a class="wikiaction" 
           href="${ACTION}diff&amp;version=${VERSION}&amp;previous=major"><img border="0" alt="Diff" src="themes/MacOSX/locale/en/buttons/Diff.png" /></a>
    <?php } ?>
<a class="wikiaction" href="${BROWSE}DebugInfo?page=${PAGE}"><img border="0" alt="DebugInfo" src="themes/MacOSX/locale/en/buttons/DebugInfo.png" /></a>
  </td>
  <td align="right">
<a class="wikiaction" href="${BROWSE}RecentChanges"><img border="0" alt="RecentChanges" src="themes/MacOSX/locale/en/buttons/RecentChanges.png" /></a> </td><td><a class="wikiaction" href="${BROWSE}FindPage"><img border="0" alt="FindPage" src="themes/MacOSX/locale/en/buttons/FindPage.png" /></a><span><input type="hidden" name="auto_redirect" value="1" />
    <input type="text"  name="s" size="12"
           title=_("Quick Search")
           onmouseover="window.status='$_("Quick Search")'; return true;"
           onmouseout="window.status=''; return true;" /></span></td><td>
  <a class="wikiaction" href="${BROWSE}LikePages?page=${PAGE}"><img border="0" alt="LikePages" src="themes/MacOSX/locale/en/buttons/LikePages.png" /></a><a class="backlinks" href="${BROWSE}BackLinks?page=${PAGE}"><img border="0" alt="BackLinks" src="themes/MacOSX/locale/en/buttons/BackLinks.png" /></a></td></tr></table>
<table summary="Toolbar 2: Sign in." class="toolbar" width="100%"
       cellpadding="0" cellspacing="0" border="0"><tr valign="middle">
  <td nowrap>
    <?php if ($user->is_authenticated()) { ?>
      <?php printf(_("You are signed in as %s"), LinkWikiWord($USERID)); ?>
      &nbsp;</td><td width="100%"><a class="wikiaction" href="${ACTION}logout"><img border="0" alt="SignOut" src="themes/MacOSX/locale/en/buttons/SignOut.png" /></a>
      <?php if ($user->is_admin()) { ?>
        <a class="wikiadmin" href="${BROWSE}PhpWikiAdministration"><img border="0" alt="PhpWikiAdministration" src="themes/MacOSX/locale/en/buttons/PhpWikiAdministration.png" /></a>
      <?php } ?>
    <?php } else { ?>
      <a class="wikiaction" href="${ACTION}login"><img border="0" alt="SignIn" src="themes/MacOSX/locale/en/buttons/SignIn.png" /></a>
    <?php } ?>
  </td>

  <td align="right">&nbsp;
  </td>
</tr></table>

<!-- RELATEDPAGES were here. -->

<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML(); ?>

</form>
</body>
</html>
