<?php echo "<?xml version='1.0' encoding='${CHARSET}'?>\n"; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- phpwiki source:
$Id: message.html,v 1.2 2002-01-11 23:32:33 carstenklapp Exp $
${RCS_IDS}
-->
<meta http-equiv="Content-Type" content="text/html; charset=${CHARSET}" />
<meta name="robots" content="noindex,nofollow" />
<base href="${BASE_URL}" />
${CSS}
<link rel="shortcut icon" href="favicon.ico" />
<title>${WIKI_NAME}: ${TITLE}</title>
</head>
<body>
<div>${LOGO}</div>
<h1>${TITLE}</h1>
${CONTENT}
</body>
</html>
