<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="index,follow" />
<meta name="language" content="nl" />
<meta name="PHPWIKI_VERSION" content="###PHPWIKI_VERSION###" />
<link rel="shortcut icon" href="###DATA_PATH###/images/favicon.ico" />
<title>###SPLIT_PAGE###</title>
</head>

<body bgcolor="ivory" text="black" alink="red" link="darkblue" vlink="darkmagenta">
<h1><a href="###SCRIPTURL###"><img src="###LOGO###" border="0" alt="[phpwiki]" align="middle" width="50" height="50"></a>
<a href="###SCRIPTURL###?refs=###PAGEURL###">###SPLIT_PAGE###</a></h1>
###IF:ADMIN###
###IF LOCK###[<a href="###SCRIPTURL###?unlock=###PAGEURL###">Unlock page</a>]
###IF !LOCK###[<a href="###SCRIPTURL###?lock=###PAGEURL###">Lock page</a>]
- - 
[<a href="###SCRIPTURL###?remove=###PAGEURL###">Remove page</A>]
<hr noshade>
###ENDIF:ADMIN###
<p />
###CONTENT###
<hr noshade>
###IF ADMIN###<a href="###SCRIPTURL###?edit=###PAGEURL###">VeranderTekst</a>
###IF:!ADMIN###
###IF LOCK###Page locked
###IF !LOCK###<a href="###SCRIPTURL###?edit=###PAGEURL###">VeranderTekst</a>
###ENDIF:!ADMIN###
van deze pagina (laatste verandering ###LASTMODIFIED###
[<a href="###SCRIPTURL###?info=###PAGEURL###">info</a>]
[<a href="###SCRIPTURL###?diff=###PAGEURL###">diff</a>])
<br />
<a href="###SCRIPTURL###?ZoekPagina">ZoekPagina</a> door bladeren of zoeken
<hr noshade>
<small>###RELATEDPAGES###</small>

</body>
</html>
