<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<!-- phpwiki source:
###RCS_IDS###
-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
###ROBOTS_META###
<base href="###BASE_URL###">
<title>###SPLIT_PAGE###</title>
<link rel="stylesheet" title="phpwiki" href="###CSS_URL###" type="text/css">
</head>

<body bgcolor=linen text=black alink=red link=darkblue vlink=darkmagenta>
<h1><a class="wikilink" href="###BROWSE###VoorPagina"><img src="###LOGO###" border=0 alt="[phpwiki]" width=50 height=50></a>
###PAGE###</h1>

###CONTENT###

</body>
</html>
