<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
<!-- phpwiki source:
${RCS_IDS}
-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- <meta name="robots" content="index,follow"> -->
<base href="${BASE_URL}">
<title>${SPLIT_PAGE}</title>
<!--
-->
<link rel="stylesheet" title="phpwiki" href="${CSS_URL}" type="text/css">
</head>
<body>
<h1>
<div><a class="wikilink" 
        href="${BROWSE}HomePage"
        ><img src="${LOGO}"
              border=0 alt="[phpwiki]" 
              align="right" width=50 height=50></a></div>
<!--FIXME: this link is broken unless pages are in pathinfo -->
<!--<a title="Get BackLinks for ${PAGE}"
   onmouseover="window.status='Get BackLinks for ${PAGE}';return true;"
   class="backlinks"
   href="${BROWSE}BackLinks?page=${PAGEURL}"
   ><span class="wikiword">${SPLIT_PAGE}</span></a>-->
<?plugin-link BackLinks description="Get BackLinks for [pagename]"
                        page="[pagename]" class="backlinks"
                        linktext="${SPLIT_PAGE}" ?>
</h1>
<div class="br"><br clear="both" class="ignore"></div>
<?php if (! $IS_CURRENT) { ?>
  <p><b>Note</b>: You are viewing an old revision of this page.
     Click <a href="${BROWSE}${PAGEURL}">here</a> to view the current version.</p>
  <hr class="ignore" noshade>
<?php } ?>
<div class="wikitext">${CONTENT}</div>
<hr class="ignore" noshade>
<form action="<?php echo WikiURL('TitleSearch'); ?>" method="get">
<!-- I would like not to have to use these tables, and managed to
     get this stuff to work more or less correctly using
     CSS's float:left; and float:right;.  However float:right; seems
     to cause MSIE4.01/NT to hang. 
     So, we use tables...  -->
<table class="toolbar" width="100%"
       cellpadding=0 cellspacing=0 border=0><tr valign="baseline">
  <td>
    <?php if ($IS_CURRENT) { ?>
      Last edited on ${LASTMODIFIED}
    <?php } else { ?>
      Version ${VERSION}, saved on ${LASTMODIFIED}
    <?php } ?>
  </td>
  <td align="right">
  <?php echo LinkExistingWikiWord('FindPage') ?> 
  | <span><input type="hidden" name="auto_redirect" value="1">
    <input type="text"  name="s" size="12"
           title="Quick Search"
           onmouseover="window.status='Quick Search'; return true;"
           onmouseout="window.status=''; return true;"></span>
  <!-- | <a class="wikiaction" href="${BROWSE}LikePages?page=${PAGEURL}">LikePages</a> -->
  | <?plugin-link LikePages page="[pagename]" description="List LikePages for [pagename]"?>
  </td>
</tr></table>
<table class="toolbar" width="100%"
       cellpadding=0 cellspacing=0 border=0><tr valign="baseline">
  <td>
    <?php if ($page->get('locked') && !$user->is_admin()) { ?>
      Page locked
    <?php } else { ?>
      <?php if ($IS_CURRENT) { ?>
        <a class="wikiaction" href="${ACTION}edit">Edit</a>
      <?php } else { ?>
        <a class="wikiaction" href="${ACTION}edit&amp;version=${VERSION}"
          >Edit old revision</a>
      <?php } ?>
    <?php } ?>
    <?php if ($user->is_admin()) { ?>
      <?php if ($page->get('locked')) { ?>
        | <a class="wikiadmin" href="${ACTION}unlock">Unlock page</a>
      <?php } else { ?>
        | <a class="wikiadmin" href="${ACTION}lock">Lock page</a>
      <?php } ?>
      | <a class="wikiadmin" href="${ACTION}remove">Remove page</a>
    <?php } ?>
    | <a class="wikiaction" href="${ACTION}info">History</a>
    <?php if ($IS_CURRENT) { ?>
      | <a class="wikiaction" href="${ACTION}diff&amp;previous=major">Diff</a>
    <?php } else { ?>
      | <a class="wikiaction" 
           href="${ACTION}diff&amp;version=${VERSION}&amp;previous=major">Diff</a>
    <?php } ?>
  </td>
  <td align="right">
    <?php if ($user->is_authenticated()) { ?>
      You are signed in as <?php echo LinkWikiWord($USERID); ?>
      | <a class="wikiaction" href="${ACTION}logout">SignOut</a>
    <?php } else { ?>
      <a class="wikiaction" href="${ACTION}login">SignIn</a>
    <?php } ?>
  </td>
</tr></table>

<?php /*
<hr class="ignore" noshade>
<small>${RELATEDPAGES}</small>
*/ ?>
<?php // FIXME:hack
ob_start();
global $ErrorManager;
$ErrorManager->flushPostponedErrors();
$errmsgs = ob_get_contents();
ob_end_clean();
if ($errmsgs)
    echo "<div class='errors'><h4>PHP Warnings</h4>$errmsgs</div>";
?>
<div class="toolbar">
  <!-- For debugging only, really: -->
  <?plugin-link _BackendInfo 
                linktext=DebugInfo
                targetpage=DebugInfo
                page=[pagename]
                description="Get debugging information for [pagename]."?>
</div>
</form>
</body>
</html>
