<?php // -*-html-*- ?>
<!-- $Id: navbar.tmpl,v 1.2 2004-04-21 04:21:32 rurban Exp $ -->
<?php
$s = $Theme->getButtonSeparator();
?>
<!-- The top navigation/search bar -->
<form action="<?= WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="<?=CHARSET?>">
  <div id="navbuttons">
   <?= WikiLink(_("RecentChanges"), "","News") ?>
   <?=$s?><?= WikiLink(_("FindPage"), "","Search:") ?>
   <input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12" maxlength="256"
             title='<?=_("Quick Search")?>'
             onmouseover="window.status='<?=_("Quick Search")?>'; return true;"
             onmouseout="window.status=''; return true;" />
    <?php if (!empty($revision)) { ?>
     <?=$s?><?= Button(array('action'=>'LikePages'),_("LikePages"),$page->getName()) ?>
     <?=$s?><?= Button(array('action'=>'BackLinks'), _("BackLinks"),$page->getName()) ?>
     <?=$s?><?= Button(array('action'=>'RelatedChanges'), _("RelatedChanges"),$page->getName()) ?>
    <?php } ?>
    <?php if (!empty($user) && $user->isAdmin()) { ?>
     <?=$s?><?= WikiLink(_("PhpWikiAdministration"), "","Admin") ?>
    <?php } ?>
    <?php if (!empty($user) && $user->isSignedIn()) { ?>
     <?=$s?><?= WikiLink(_("UserPreferences"), "","Preferences") ?>
    <?php } ?>
  </div>
</form>
