<?php // -*- php -*-
  rcs_id('$Id: addcomment.tmpl,v 1.5 2006-12-01 07:51:16 rurban Exp $');
  $request->setArg('action',false);
?>
<div class="wikicomment wikicomment-form">
<form action="<?=$request->getPostURL()?>" method="post" class="wikiaction"
      accept-charset="<?=CHARSET?>">
  <input type="hidden" name="comment[pagename]" value="<?=$PAGENAME?>" />
  <?= HiddenInputs($request->getArgs()) ?>
  <table class="wikicomment-form">
     <tr><td width="100%"><textarea class="commentedit" rows="3" cols="55"
                       name="comment[body]" wrap="virtual"></textarea></td>
         <td class="submit-button"><input type="submit" value="<?=
_("Add Comment")
?>"
                     name="comment[addcomment]" class="wikiaction" /></td>
     </tr>
  </table>
</form>
</div>
