<?php // -*-html-*- ?>
<!-- $Id: body.tmpl,v 1.4 2002-01-18 19:23:11 dairiki Exp $ -->
<body>

<!-- The logo -->
<div><a class="wikilink" 
        href="<?=WikiURL(_("HomePage"))?>"
        ><img src="<?=$Theme->getImageURL('logo')?>"
              border="0" alt="<?=$WIKI_NAME?>: <?=_("HomePage")?>" 
              align="right" /></a></div>

<!-- The top navigation/search bar -->
<?= new WikiTemplate('navbar') ?>

<!-- Page title -->
<h1><?=$HEADER?></h1>

<?= $CONTENT ?>

<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
</body>
