<body <?php echo $WikiTheme->getMoreAttr('body') ?>>
      <header role="banner">
      <div id="header">
      <?php echo Template('top') ?>
      </div>
      </header>
      <main role="main">
      <?php
      $action = $request->getArg('action');
      if ($page->exists()) {
            if (empty($revision)) {
                $revision = $page->getCurrentRevision(false);
            }
            if (($action == 'edit') && $page->get('locked') && !$user->isAdmin()) { ?>
              <p class="warning_msg"><strong><?php echo _("Note:") ?></strong>
              <?php echo _("This page has been locked and cannot be edited.") ?>
              </p>
            <?php
            }
            if (($action != 'edit') && ($action != 'revert')
                      && $revision and !$revision->isCurrent()) { ?>
              <p class="warning_msg"><strong><?php echo _("Note:") ?></strong>
              <?php echo _("You are viewing an old revision of this page.")?>
              <?php echo Button('browse', _("View the current version."), $page)?>
            </p>
            <?php } ?>
            <?php if (!empty($redirected)) { ?>
              <p><?php echo $redirected ?></p>
            <?php } ?>
      <?php } elseif (($action != "create") && ($action != "edit")) { ?>
           <p class="warning_msg">
           <?php echo _("This page does not exist.") ?>
           <?php echo Button('create', _("Create it."), $page)?>
           </p>
      <?php } ?>
      <div id="content">
      <?php echo $CONTENT ?>
      </div>
      </main>
    <?php echo Template('bottom') ?>
</body>
