<?php // -*-html-*- ?>
<!-- $Id: body.tmpl,v 1.27 2002-08-19 11:32:30 rurban Exp $ -->
<body>
<div id="navbar" class="toolbar">
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<!-- The top navigation/search bar -->
<?= Template('navbar') ?>
<?php } ?>
<!-- The logo -->
<div align="right" valign="top" id="logo"><a class="wikilink" 
                  href="<?=WikiURL(HOME_PAGE)?>"
                  ><img src="<?=$Theme->getImageURL('logo')?>"
                        border="0" alt="<?=WIKI_NAME?>: <?=HOME_PAGE?>" 
                        align="right" /></a></div>

<!-- Page title -->
<h1><?= $HEADER ?></h1>
</div>
<?= $CONTENT ?>

<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>

<?php if (defined('DEBUG')) { ?><?= Template('debug') ?><?php } ?>
</body>
