<?php // -*-html-*- ?>
<!-- $Id: browse.tmpl,v 1.17 2002-02-09 08:07:58 carstenklapp Exp $ -->
<div class="br"><br clear="all" class="ignore" /></div>

<?php if (! $revision->isCurrent()) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= Button('browse', _("View the current version"), $page)?>.
  </p>
  <hr class="ignore" noshade="noshade" />
<?php } ?>

<div class="wikitext"><?=$CONTENT?></div>
<hr class="ignore" noshade="noshade" />

<div id="actionbar">
<p class="editdate"><?= $Theme->getLastModifiedMessage($revision) ?></p>
<hr class="toolbar" noshade="noshade" />
<?= Template('actionbar') ?>
<!-- RELATEDPAGES were here. -->
</div>
