<?php // -*-html-*- ?>
<!-- $Id: browse.tmpl,v 1.7 2002-01-21 06:55:47 dairiki Exp $ -->
<?php 
  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  if ($IS_CURRENT)
      $LastModifiedMsg = sprintf(_("Last edited on %s."), $mtime);
  else
      $LastModifiedMsg = __sprintf("Version %s, saved on %s.",
                                   $VERSION, $mtime);
?>

<div class="br"><br clear="all" class="ignore" /></div>

<?php if (! $IS_CURRENT) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= $ButtonFactory->makeActionButton('edit', _("View the current version"), $page->getCurrentRevision())?>.
  </p>
  <hr class="ignore" noshade="noshade" />
<?php } ?>

<div class="wikitext"><?=$CONTENT?></div>
<hr class="ignore" noshade="noshade" />

<p><?= $LastModifiedMsg ?></p>
<hr class="toolbar" noshade="noshade" />
<?= new WikiTemplate('actionbar') ?>
<!-- RELATEDPAGES were here. -->
