<?php // -*-html-*-
rcs_id('$Id: browse.tmpl,v 1.24 2003-03-05 21:38:15 dairiki Exp $');
?>

<?php if (! $revision->isCurrent()) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= Button('browse', _("View the current version"), $page)?>.
  </p>
<?php } ?>

<?=$CONTENT?>

<div id="footer"><?php // for top & bottom toolbars stylesheet ?>
  <?=Template('browse-footer')?>
</div>
