<?php  // -*-html-*-
/* $Id: frameset.tmpl,v 1.2 2002-09-02 12:39:02 rurban Exp $
 *
 * This template is used for the FrameInclude plugin.
 */ ?>
<?= Template('head') ?>
<?=$FRAMESET?>
<NOFRAME>
  <?= Template('body') ?>
</NOFRAME>
</html>