<?php // -*-html-*- ?>
<!-- $Id: navbar.tmpl,v 1.5 2002-01-28 01:01:27 dairiki Exp $ -->
<?php

$s = $Theme->getButtonSeparator();

?>
<!-- The top navigation/search bar -->
<form action="<?= WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="<?=CHARSET?>">
  <div class="toolbar" id="navbar">
   <?= $Theme->makeLinkButton(_("RecentChanges")) ?>
   <?=$s?><?= $Theme->makeLinkButton(_("FindPage")) ?>
   <?=$s?><input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12"
             title='<?=_("Quick Search")?>'
             onmouseover="window.status='<?=_("Quick Search")?>'; return true;"
             onmouseout="window.status=''; return true;" />
    <?php if (!empty($revision)) { ?>
     <?=$s?><?= $Theme->makeActionButton(_("LikePages")) ?>
     <?=$s?><?= $Theme->makeActionButton(_("BackLinks")) ?>
    <?php } ?>
    <?php if (!empty($user) && $user->isAdmin()) { ?>
     <?=$s?><?= $Theme->makeLinkButton(_("PhpWikiAdministration")) ?>
    <?php } ?>
  </div>
</form>
