<!-- -*-html-*- -->
<!-- $Id: nochanges.tmpl,v 1.2 2002-01-24 00:45:28 dairiki Exp $ -->

<p><strong><?=_("Edit aborted.")?></strong>
<?=_("You have not made any changes so no new version has been saved.")?></p>

<?= Template('browse') ?>

