<?php // -*-html-*- ?>
<!-- $Id: signin.tmpl,v 1.8 2002-01-22 22:37:15 dairiki Exp $ -->
<?php

     $Sep = $Theme->getButtonSeparator();
     $SignOutB = $Theme->makeButton(_("Sign Out"), "javascript:SignOut();", 'wikiaction');

     if (empty($FORMNAME))
         $FORMNAME = 'signin';
     else
         $NOFORM = true;
?>

<?php if (empty($NOFORM)) { ?>
  <form method="post" action="<?=BASE_URL?>" accept-charset="<?=CHARSET?>" name="<?=$FORMNAME?>">

  <?php foreach ($query_args as $key => $val) { ?>
    <input type="hidden" name="<?=$key?>" value="<?=$val?>" />
  <?php } ?>
<?php } ?>

<?php if ($user->isSignedIn()) {  ?>

  <?= fmt("You are signed in as %s", LinkWikiWord($user->getId())) ?>
  <?=$Sep?>
  <script language="JavaScript" type="text/javascript"><!--
    document.write('<input type="hidden" name="login[logout]" value="0" />');
    function SignOut() { 
      document.forms["<?=$FORMNAME?>"].elements["login[logout]"].value = 1;
      document.forms["<?=$FORMNAME?>"].submit();
    }
    document.write('<?=$SignOutB?>'); // -->
  </script>
  <noscript>
    <?=$Theme->makeButton(_("Sign Out"), "submit:login[logout]", "wikiaction")?>
  </noscript>

<?php } else { ?>

  <?php $SignInInput = HTML::input(array('type' => 'text',
                                         'name' => "login[userid]",
                                         'size' => 12,
                                         'onchange' => "this.form.submit();"));
        $SignInInput->addTooltip(_("Sign In")) ?>

  <script language="JavaScript" type="text/javascript"><!--
    document.write("<small><?=_("Sign In")?></small> ");
  // --></script>
  <?= $SignInInput ?>
  <noscript>
    <?=$Theme->makeButton(_("Sign In"), "submit:login[login]", "wikiaction")?>
  </noscript>

<?php } ?>

<?php if (empty($NOFORM)) { ?>
  </form>
<?php } ?>
