<?php // -*-html-*- ?>
<!-- $Id: top.tmpl,v 1.22 2003-02-15 02:50:12 dairiki Exp $ -->
<div id="navbar" class="toolbar">
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<!-- The logo -->
<div align="right" id="logo"><a class="wikilink" 
                  href="<?=WikiURL(HOME_PAGE)?>" target="_top"
                  ><img src="<?=$Theme->getImageURL('logo')?>" id="logo-img"
                        border="0" alt="<?=fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>"
                        align="right" /></a></div>

<!-- The top navigation/search bar -->
<?= Template('navbar') ?>
<?php } ?>
<!-- Page title -->
<h1><?= $HEADER ?></h1>
</div>
<?php if ($request->getArg('frame')) { ?>
<!-- The included frame url for safety -->
<p class="transclusion-title"><?fmt("Included frame from %s",$framesrc)?></p>
<?php } ?>
