<?php // -*-html-*- ?>
<!-- $Id: top.tmpl,v 1.19 2002-09-02 14:36:59 rurban Exp $ -->
<div id="navbar" class="toolbar">
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<!-- The top navigation/search bar -->
<?= Template('navbar') ?>
<?php } ?>
<!-- The logo -->
<div align="right" id="logo"><a class="wikilink" 
                  href="<?=WikiURL(HOME_PAGE)?>" target="_top"
                  ><img src="<?=$Theme->getImageURL('logo')?>"
                        border="0" alt="<?=WIKI_NAME?>: <?=HOME_PAGE?>" 
                        align="right" /></a></div>

<!-- Page title -->
<h1><?= $HEADER ?></h1>
</div>
<?php if ($request->getArg('frame')) { ?>
<!-- The included frame url for safety -->
<p class="transclusion-title"><?fmt("Included frame from %s",$framesrc)?></p>
<?php } ?>
