<?php // -*-html-*-
/**
 * Variation of stdlib/TimezoneOffset, which is broken on my
 * system. TimezoneOffset always returns my time zone irregarless what
 * value is fed to it (TimezoneOffset(time()+$z*60*60) doesn't work...).
 */
function hTimezoneOffset ($h, $use_colon = true) {
    $secs = $h*60*60;
    if ($secs < 0) {
        $sign = '-';
        $secs = -$secs;
    }
    else {
        $sign = '+';
    }
    $colon = $use_colon ? ':' : '';
    $mins = intval(($secs + 30) / 60);
    return sprintf("%s%02d%s%02d",
                   $sign, $mins / 60, $colon, $mins % 60);
}
// default to server's timezone if user's pref not chosen yet
if ($PreftimeOffset = $request->getPref('timeOffset'))
    $defaultOffset = $PreftimeOffset;
else
    $defaultOffset = TimezoneOffset(false, true);

// generate the popup menu
$select = HTML();
for ($z = -14; $z < 12; $z++) {
    $tz_val = hTimezoneOffset($z, false);
    $tz_string = hTimezoneOffset($z);

    $selected = $defaultOffset == $tz_val ? array('selected' => 'selected') : array();
    $select->pushContent(HTML::option(array_merge(array('value' => $tz_val),
                                                  $selected),
                                      $tz_string));
    $z = $z-0.5;
}
$TimeZoneSelect = HTML("GMT ", HTML::select(array('name' => "pref[timeOffset]"), $select));

?>
<!-- $Id: userprefs.tmpl,v 1.10 2002-02-03 01:40:55 carstenklapp Exp $ -->
<form action="<?=WikiURL($page)?>" method="post">
  <input type="hidden" name="pagename" value="<?=$request->getArg('pagename')?>" />
  <blockquote>
  <table>
    <tr>
      <td colspan="2"><h2><?=_("Edit Area Size")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Height")?></td>
      <td>
        <input type="text" name="pref[editHeight]" size="4"
               value="<?=$request->getPref('editHeight')?>" />
      </td>
    </tr>
    <tr>
      <td align="right"><?=_("Width")?></td>
      <td>
        <input type="text" name="pref[editWidth]" size="4"
               value="<?=$request->getPref('editWidth')?>" />
      </td>
    </tr>

    <tr>
      <td colspan="2"><h2><?=_("Time Zone")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Server time:")?></td>
      <td><?= Rfc2822DateTime() ?></td>
    </tr><tr>
      <td align="right"><?=_("Your time:")?></td>
      <td>
        <?= $TimeZoneSelect ?>
      </td>
    </tr><tr>
      <!--until timezone functions have been fully debugged-->
      <td></td><td><small>Times converted to your zone will be marked with an asterisk&nbsp;(*).</small></td>
    </tr>
  </table>
  </blockquote>
  <hr />
  <?=Button("submit:", _("Update Preferences"))?>
</form>
