<?php // -*-html-*- ?>
<!-- $Id: userprefs.tmpl,v 1.12 2002-02-03 19:03:43 carstenklapp Exp $ -->
<?php

/**
 * Default to server's timezone if user's pref not chosen yet.
 */
if ($PreftimeOffset = $request->getPref('timeOffset'))
    $defaultOffset = $PreftimeOffset;
else
    $defaultOffset = TimezoneOffset(false, true);

$yourTime = date('D, j M Y H:i:s ', time() + PrefTimezoneOffset()) . $defaultOffset;

/**
 * Generate the popup menu.
 */
$select = HTML();
for ($z = -14; $z < 12; $z++) {
    $tz_val = seconds2zoneOffset($z*60*60, true);
    $tz_string = seconds2zoneOffset($z*60*60);

    $selected = $defaultOffset == $tz_val ? array('selected' => 'selected') : array();
    $select->pushContent(HTML::option(array_merge(array('value' => $tz_val),
                                                  $selected),
                                      $tz_string));
    $z = $z-0.5;
}

$TimeZoneSelect = HTML("GMT ", HTML::select(array('name' => "pref[timeOffset]"), $select));


?>
<form action="<?=WikiURL($page)?>" method="post">
  <input type="hidden" name="pagename" value="<?=$request->getArg('pagename')?>" />
  <blockquote>
  <table>
    <tr>
      <td colspan="2"><h2><?=_("Edit Area Size")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Height")?></td>
      <td>
        <input type="text" name="pref[editHeight]" size="4"
               value="<?=$request->getPref('editHeight')?>" />
      </td>
    </tr>
    <tr>
      <td align="right"><?=_("Width")?></td>
      <td>
        <input type="text" name="pref[editWidth]" size="4"
               value="<?=$request->getPref('editWidth')?>" />
      </td>
    </tr>

    <tr>
      <td colspan="2"><h2><?=_("Time Zone")?></h2></td>
    </tr><tr>
      <td align="right"><?=_("Server time:")?></td>
      <td><?= Rfc2822DateTime() ?></td>
    </tr><tr>
      <td align="right"><?=_("Your time:")?></td>
      <td><?= $yourTime ?></td>
    </tr><tr>
      <td></td>
      <td>
        <?= $TimeZoneSelect ?>
      </td>
    </tr><tr>
      <!--until timezone functions have been fully debugged-->
      <td></td><td><small>Times converted to your zone will be marked with an asterisk&nbsp;(*).</small></td>
    </tr>
  </table>
  </blockquote>
  <hr />
  <?=Button("submit:", _("Update Preferences"))?>
</form>
