<!-- -*-html-*- -->
<!-- $Id: viewsource.tmpl,v 1.11 2002-02-03 21:32:08 carstenklapp Exp $ -->
<?php
  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  if ($revision->isCurrent())
      $LastModifiedMsg = fmt("Last edited on %s.", $mtime);
  else
      $LastModifiedMsg = fmt("Version %s, saved on %s.",
                             $revision->getVersion(), $mtime);
?>

<?php if ($page->get('locked') && !$user->isAdmin()) { ?>
  <p><strong><?=_("Note:")?></strong>
    <?=_("This page has been locked by the administrator and cannot be edited.")?>
  </p>
<?php } ?>
<?php if (! $revision->isCurrent()) { ?>
  <p><?=_("You are viewing an old revision of this page.")?>
    <?= Button('edit', _("View the current version"), $page) ?>.
  </p>
  <hr class="ignore" noshade="noshade" />
<?php } ?>
<!-- Dummy form else NS4 doesn't like the textarea -->
<form method="post" action="<?=BASE_URL?>" accept-charset="<?=CHARSET?>">
<!-- wrap=virtual is not HTML4, but without it NS4 doesn't wrap long lines -->
<textarea class="wikiedit"
          name="content"
          rows="<?=$request->getPref('editHeight')?>"
          cols="<?=$request->getPref('editWidth')?>"
	  readonly="readonly"
          wrap="virtual"><?= $PAGE_SOURCE ?></textarea>

<p class="editdate"><?= $LastModifiedMsg ?></p>
<div id="actionbar">
<hr class="toolbar" noshade="noshade" />
<?= Template('actionbar') ?>
<!-- RELATEDPAGES were here. -->
</div>
<?= HiddenInputs($request->getArgs()) ?>
</form>
