<!-- -*-html-*- -->
<!-- $Id: viewsource.tmpl,v 1.2 2002-01-20 02:51:04 carstenklapp Exp $ -->
<p><strong><?=_("Note:")?></strong>
<?=_("This page has been locked by the administrator and cannot be edited.")?>
</p>
<?php if (! $IS_CURRENT) { ?>
  <p><?=_("You are viewing an old revision of this page.")?>
  <?= $ButtonFactory->makeActionButton('edit', _("View the current version"), $page->getCurrentRevision())?>.
  <hr class="ignore" noshade="noshade" />
<?php } ?>
<!-- Dummy form else NS4 doesn't like the textarea -->
<form method="post" action="<?= WikiUrl($PAGE) ?>" accept-charset="<?=CHARSET?>">
<!-- wrap=virtual is not HTML4, but without it NS4 doesn't wrap long lines -->
<textarea class="wikiedit"
          name="content"
          rows="<?=$EDIT_AREA_HEIGHT?>"
          cols="<?=$EDIT_AREA_WIDTH?>"
	  readonly="readonly"
          wrap="virtual"><?= $FORMVARS['content'] ?></textarea>
<?php
  $mtime = $Theme->formatDateTime($revision->get('mtime'));
  if ($IS_CURRENT)
      $LastModifiedMsg = sprintf(_("Last edited on %s."), $mtime);
  else
      $LastModifiedMsg = __sprintf("Version %s, saved on %s.",
                                   $VERSION, $mtime);
?>
<p><?= $LastModifiedMsg ?></p>
<input type="hidden" name="action" value="browse" />
<input type="hidden" name="pagename" value="<?=$FORMVARS['pagename']?>" />
<input type="hidden" name="version" value="<?=$FORMVARS['version']?>" />
</form>
