<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="index,follow" />
<meta name="language" content="de" />
<meta name="PHPWIKI_VERSION" content="###PHPWIKI_VERSION###" />
<link rel="shortcut icon" href="###DATA_PATH###/images/favicon.ico" />
<title>###SPLIT_PAGE###</title>
</head>

<body bgcolor="ivory" text="black" alink="red" link="darkblue" vlink="darkmagenta">
<h1><a href="###SCRIPTURL###"><img src="###LOGO###" border="0" alt="[phpwiki]" align="middle" width="50" height="50"></a>
<a href="###SCRIPTURL###?refs=###PAGEURL###">###SPLIT_PAGE###</a></h1>
###IF:ADMIN###
###IF LOCK###[<a href="###SCRIPTURL###?unlock=###PAGEURL###">Seite freigeben</a>]
###IF !LOCK###[<a href="###SCRIPTURL###?lock=###PAGEURL###">Seite sperren</a>]
- - 
[<a href="###SCRIPTURL###?remove=###PAGEURL###">Seite l&ouml;schen</a>]
<hr noshade>
###ENDIF:ADMIN###
<p />
###CONTENT###
<hr noshade>
###IF ADMIN###<a href="###SCRIPTURL###?edit=###PAGEURL###">TextEditieren</a>
###IF:!ADMIN###
###IF LOCK###Seite gesperrt
###IF !LOCK###<a href="###SCRIPTURL###?edit=###PAGEURL###">TextEditieren</a>
###ENDIF:!ADMIN###
(Seite zuletzt am ###LASTMODIFIED### geändert)
[<a href="###SCRIPTURL###?info=###PAGEURL###">Info</a>]
[<a href="###SCRIPTURL###?diff=###PAGEURL###">Diff</a>])
<br />
<a href="###SCRIPTURL###?SeiteFinden">SeiteFinden</a>
<hr noshade>
<small>###RELATEDPAGES###</small>

</body>
</html>
