<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>###PAGE###</title>
</head>

<body bgcolor=ivory text=black alink=red link=darkblue vlink=darkmagenta>
<h1><a href="###SCRIPTURL###"><img src="###LOGO###" border=0 alt="[phpwiki]" align=middle width=50 height=50></a>
<a href="###SCRIPTURL###?related=###PAGEURL###">###PAGE###</a></h1>
<P>
###CONTENT###
<hr noshade>
<a href="###SCRIPTURL###?edit=###PAGEURL###">TextEditieren</a>
 (Seite zuletzt am ###LASTMODIFIED### verändert)
[<a href="###SCRIPTURL###?info=###PAGEURL###">Info</a>]
[<a href="###SCRIPTURL###?diff=###PAGEURL###">Diff</a>])
<br>
<a href="###SCRIPTURL###?SeiteFinden">SeiteFinden</a>
<hr noshade>
<small>###RELATEDPAGES###</small>

</body>
</html>
