<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<!-- phpwiki source:
###RCS_IDS###
-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
###ROBOTS_META###
<base href="###BASE_URL###">
<title>###SPLIT_PAGE###</title>
<link rel="stylesheet" title="phpwiki" href="###CSS_URL###" type="text/css">
</head>
<body bgcolor=ivory text=black alink=red link=darkblue vlink=darkmagenta>
<h1><a class="wikilink" href="###BROWSE###StartSeite"><img src="###LOGO###" border=0 alt="[phpwiki]" align=middle width=50 height=50></a>
<a class='wikiaction'
  href="###ACTION###search&amp;searchtype=full&amp;searchterm=###PAGEURL###"
><span class='wikiword'>###PAGE###</span></a></h1>
###IF:!ANONYMOUS###
<p>You are logged in as <em>###USERID###</em>.
[<a class="wikiaction" href="###ACTION###logout">Log Out</a>]</p>
###IF:ADMIN###
###IF LOCK###[<a class="wikiadmin" href="###ACTION###unlock">Seite freigeben</a>]
###IF !LOCK###[<a class="wikiadmin" href="###ACTION###lock">Seite sperren</a>]
- - 
[<a class="wikiadmin" href="###ACTION###remove">Seite l&ouml;schen</a>]
###ENDIF:ADMIN###
<hr noshade>
###ENDIF:!ANONYMOUS###
<br>
###CONTENT###
<hr noshade>
###IF ADMIN###<a class="wikiaction" href="###ACTION###edit">TextEditieren</a>
###IF:!ADMIN###
###IF LOCK###Page locked
###IF !LOCK###<a class="wikiaction" href="###ACTION###edit">TextEditieren</a>
###ENDIF:!ADMIN###
(Seite zuletzt am ###LASTMODIFIED### verändert)
[<a class="wikiaction" href="###ACTION###info">Info</a>]
[<a class="wikiaction" href="###ACTION###diff">Diff</a>])
<br>
<a class="wikilink" href="###BROWSE###SeiteFinden"><span class="wikiword">SeiteFinden</span></a>
<hr noshade>
<small>###RELATEDPAGES###</small>

</body>
</html>
