<?php // -*-html-*-
  rcs_id('$Id: bottom.tmpl,v 1.3 2007-01-07 20:20:19 rurban Exp $');
?>
<!--span id="bottom" style="margin-left: 25px"-->
<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (DEBUG & _DEBUG_VERBOSE) { ?><?= Template('debug') ?><?php } ?>
<?php } ?>
<!--/span-->
